<div class="">

<div id="plans" class="contain">
  
  <div id="plan-intro" class="contain clearfix">
<div class="clearfix contain">

<div class="plan-template pad2x limiter limiter-big current tab-content" id="tab-1">
  <div class="col12 consumer-plan pad2y clearfix">

  {% for plan in secteur.plan_set.all %}
  
  
<div class="col4">
      <div class="plan-header round-left fill-white prose center pad2 keyline-left keyline-top keyline-bottom space-bottom1 {{plan.css_class}}" >

        <div class="plan-name small space-bottom0 uppercase strong quiet">{{plan}}</div>

        <div class="pricing-section">
          <h2 class="fancy">{{plan.tarif}}</h2><h6> € HT </h6>
          </div>
<div class="icon big {{plan.css_icon}}"></div>
        <div class="main-features small pad0y">
        <span class="quiet">{{plan.pitch}}</span> 
        
          </div>
        <div class="space-top1">
        </div>
         
      </div>
      <div class="plan-detail pad2x space-top2">
        <ul class="plan-lists">
      {% for service in plan.get_service_available %}
      <li class="plan-list-item small keyline-bottom pad0y"><span class="tooltip"><span class="tooltip-item  ">{{service.nom_service}}</span></span></li>
      {% endfor%}

      {% for service in plan.get_service_notavailable %}
      <li class="plan-list-item small keyline-bottom pad0y"><span class="tooltip"><span class="tooltip-item false ">{{service.nom_service}}</span></span></li>
      {% endfor%}

        </ul>

      </div>
      <div class="fill-darken0" style="min-height:290px">
       <ul class=" pad2 round-left space-top2 storage">
 
        {% if plan.assitance_level %}
        <li class="plan-list-item small keyline-bottom pad0y"><span class="tooltip"><span class="tooltip-item  ">
        Niveau de l'assistance et du support : <strong> {{plan.assitance_level }} </strong> </span></span></li>
        {% endif %}

        {% if plan.consultance  %}
        <li class="plan-list-item small keyline-bottom pad0y"><span class="tooltip"><span class="tooltip-item  ">
        {{plan.consultance}} </span></span></li>
        {% endif %}

        {% if plan.formation_Qgis_level  %}
        <li class="plan-list-item small keyline-bottom pad0y"><span class="tooltip"><span class="tooltip-item  ">
        Formation QGIS : <strong> {{plan.formation_Qgis_level }} </strong> </span></span></li>
        {% endif %}

        {% if plan.atelier_nombre  %}
        <li class="plan-list-item small keyline-bottom pad0y"><span class="tooltip"><span class="tooltip-item  ">
        <strong>{{plan.atelier_nombre }}</strong>  atelier(s) parmis <a href='../catformation/ateliers'>cette liste</a> </span></span></li>
        {% endif %}

        {% if plan.datapack_opendata_update_frequency  %}
        <li class="plan-list-item small keyline-bottom pad0y"><span class="tooltip"><span class="tooltip-item  ">
        Mise à jour  <strong>{{plan.datapack_opendata_update_frequency }} </strong> du DataPack Open data</span></span></li>
        {% endif %}

        {% if plan.datapack_IGN_licence_type  %}
        <li class="plan-list-item small keyline-bottom pad0y"><span class="tooltip"><span class="tooltip-item  ">
        DataPack Open Data avec mise à jour <strong>{{plan.datapack_IGN_licence_type }}</strong> </span></span></li>
        {% endif %}

        {% if plan.projet_qgis_nombre  %}
        <li class="plan-list-item small keyline-bottom pad0y"><span class="tooltip"><span class="tooltip-item  ">
        Mise en place de <strong>{{plan.projet_qgis_nombre }}</strong> projet(s) QGIS adapté au besoin {{ secteur.determinant }} {{ secteur.nom_secteur | lower }}</span></span></li>
        {% endif %}

        {% if plan.maintenance_available  %}
        <li class="plan-list-item small keyline-bottom pad0y"><span class="tooltip"><span class="tooltip-item  ">
        {{plan.maintenance_available }} </span></span></li>
        {% endif %}

        </ul>
        </div>

    </div>
  {% endfor%}

    
  </div>

</div>

</div></div>
</div>

