{% extends "base.html" %}
{% load staticfiles  show_nav %}


{% block head_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "css/plans.css" %}">

{% endblock head_css %}  

{% block body_content %}

<div class='page-content'>


{% block nav %}
{% show_nav_everywhere %}

{% include "signup-nav.html" %}
{% endblock nav %}

{% block section-top %}
                {% include "secteurs/section-top-secteur.html" %}
{% endblock section-top %}
{% block nav-vertical %}
                {% include "secteurs/nav-vertical-secteur.html" %}
{% endblock nav-vertical %}
{% block sections %}
  <!-- nav vertical après car sinon on les menus ne s'affichent pas sur l'image de fond-->

  {% block section-secteur-product %}
  {% include "secteurs/plan-pricing.html" %}
  {% endblock section-secteur-product %}
  
  {% block section-secteur-detail %}
  {% include "secteurs/detail-product.html" %}
  {% endblock section-secteur-detail %}


  {% block section-contact %}
    {% include "section-contact.html" %}
  {% endblock section-contact %}

{% endblock sections %}

</div>
{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}

{% endblock body_content %}