<section class="splash dark contain clearfix clip fill-{{secteur.css_color}} scroll-section js-fullheight" id="section-0" style="height: 500px;">
 <div class="pad4y limiter clearfix contain center-y pin-left pin-right">

    <div class="intro contain">
      <div class="pad2y clearfix contain">

        <h2 class="fancy space-bottom2">{{secteur.nom_secteur}}</h2>
        <div class="quiet z1 subnav space-bottom2">
        </div>
        <p class="col6 margin6r  prose prose-big">{{secteur.pitch}}</p>
      </div>
    </div>
  </div>
</section>