{% extends "base.html" %}
{% load cat_formation_index %}

{% block body_content %}
<div class='page-content'>


{% block nav %}
{% include "nav.html" %}
{% endblock nav %}


        {% block section-top %}
            {% include "formation/formation-section-top.html" %}
        {% endblock section-top %}

        {% block sections %}
            {% block nav-vertical %}
                
            {% endblock nav-vertical %}
            {% block list %}
            {% include "formation/section-inCatFormationList.html" %}
            {% endblock list %}

            {% block detail %}
            {% include "formation/section-inCatFormationDetail.html" %}
            {% endblock detail %}

            <!-- les autres catégories de formation -->

            {% show_cat_formation_other catFormation catFormation.slug %}

                {% block section-contact %}
        {% include "section-contact.html" %}
    {% endblock section-contact %}

        {% endblock sections %}
</div>

{% block footer %}
        {% include "footer.html" %}
{% endblock footer %}

{% endblock body_content %}

