{% load staticfiles sekizai_tags show_personne thumbnail %} 
<section id="nous">
<div class="limiter pad4y clearfix">
	
	<div class="legal-page prose space-bottom4">
	    <h2>Nous connaître</h2>
	    <p></p>

	    <section id="value">
	    
	    <div class="pad8y block-section">
	    	<div class='section clearfix col12 keyline-top fill-light building-blocks clip pading40vertical-nav '>
	    		<div class="space-top8 space-bottom4 clearfix">
	    			<h3>Nos valeurs</h3>

	    			<ul>
	    				<li>
	    					<h4>Suivi et respect des délais</h4>
	    					<p>
	    						Avec nous, fini les projets opaques ou vous n'avez pas de visibilité sur les délais. Nosprojets sont suivi 				à la tâche et vous disposerez d'une interface web vouspermettant de suivre en temps réel l'avancement de 				nos travaux. Si besoin,nous nous adaptons à votre système de gestion de tache.
	    						<p>
	    						Par exemple : Github, Trello, Jira, Zoho, FramaBoard.
	    						</p>
			
	    					</p>
	    				</li>
	    				<li>
	    					<h4>Qualité</h4>
	    					<p>
	    						Tous nos services disposent d'une garantie de bon fonctionnement de 3 mois. Durant cetteperiode, toutes les 				erreurs que vous pourriez rencontrer seront corrigées.
	    						Nos outils et méthodes sont reconnus pour obtenir les résultats attendus.
	    						<p> Nos cartes répondent aux critères de qualité professionelle de l'
	    						<a href='http://seig.ensg.ign.fr/fichchap.php?NOCHEM=CHEMS003&NOFICHE=FP36&NOLISTE=2&N=2&RCO=&RCH=&RF=&RPF=' style="float:none;">IGN/ENSG</a> ainsi que les normes ISO européennes spécifiques à la description des jeux de données (INSPIRE).</p>
	    					</p>
	    				</li>
	    				<li>
	    					<h4>Confidentialité</h4>
	    					<p>
	    						Nous travaillons en respectant les contraintes de confidentialité. Les données transmises aucours d'un 				projet sont détruites à sa fin. 
	    					</p>
	    				</li>
	    				<li>
	    					<h4>Professionnalisme</h4>
	    					<p>La géomatique est une discipline vaste qui demande de nombreuses compétences et une veilletechnologique 				permanente.
	    					Nous savons nous adapter à différentes problématiques et proposer de solutions pertinentes. Lamise en place 				s'effectue chez vous sans vous préoccuper des difficultéstechniques.
	    					</p>
	    				</li>
	    				<li>
	    					<h4>Liberté</h4>
							<p>
							Votre liberté de choisir la solution la plus adaptée est un enjeux stratégique pour votreentreprise. Nous 				pouvons vous démontrer que la communauté Open-source et l'Opendata, ont rendu les choses bien plus simple. 				Pourquoi allez vous continuer depayer des licences alors que ces solutions existent ? Et pourquoi pas adapter 				unlogiciel libre à votre besoin spécifique? 
							</p>
							<p>
							Nous utilisons des outils et solutions connues, bien documentées qui font leurs preuves. Vousserez alors 				toujours libre de trouver l'entreprise qui vous aidera le mieux.
							</p>
	    				</li>
	    				<li>
	    					<h4>Démocratiser</h4>
	    					<p>Nous souhaitons donner la possibilité aux petites et moyennes entreprises de profiter dessolutions 				géomatiques dans leur projet. Nous offrons aux PME des compétences,outils et produits spécialisés à moindre 				coût (grâce à l'OpenData et auxsolutions OpenSources), à court termes (pas de formation) et avec  des 				contraintes administratives et légales limitées (pas de gestion salariale).
	    					</p>
	    				</li>
			
	    			</ul>
	
				</div>
			</div>
		</div>
</section>


<!--  AFFICHE La TEAM -->
		{% show_team %}
<!-- FIN Team -->		

<section id="jobs" >
		<div class="pad8y block-section">
	    <div class='section clearfix col12 keyline-top fill-light building-blocks clip pading40vertical-nav '>
	    <div class="space-top8 space-bottom4 clearfix">
		<h3>Jobs et stages</h3>
		<p>Vous êtes intéressé par notre entreprise pour réaliser un partenariat, un contrat ou un stage ? Contactez-nous pour que nous échangions sur vos projets.</p>
		</div>
		</div>
		</div>
</section>
		
</div>

</div>