{% load staticfiles sekizai_tags show_personne thumbnail %} 

<div class="limiter pad4y clearfix">
	
	<div class="legal-page prose space-bottom4">
	    <h2>Nous connaître</h2>
	    <p></p>

	    <section id="value">
	    
	    <div class="pad8y block-section">
	    <div class='section clearfix col12 keyline-top fill-light building-blocks clip pading40vertical-nav '>
	    <div class="space-top8 space-bottom4 clearfix">
	    <h3>Nos valeurs</h3>
		<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero malesuada feugiat. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
		</div>
		</div>
		</div>
		</section>


<!--  AFFICHE La TEAM -->
		{% show_team %}
<!-- FIN Team -->		

		<section id="jobs" >
		<div class='section clearfix col12 keyline-top fill-light building-blocks clip pading40vertical-nav'>
		<div class="pad8y ">
		<div class="space-top8 clearfix">
		<h3>Jobs et stages</h3>
		<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero malesuada feugiat. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
		</div>
		</div>
		</div>
		</section>
		
	</div>

</div>
