{% load staticfiles sekizai_tags show_personne thumbnail %} 

<div class="limiter pad4y clearfix">
	
	<div class="legal-page prose space-bottom4">
	    <h2>Nous connaître</h2>
	    <p></p>

	    <section id="value">
	    
	    <div class="pad8y block-section">
	    <div class='section clearfix col12 keyline-top fill-light building-blocks clip pading40vertical-nav '>
	    <div class="space-top8 space-bottom4 clearfix">
	    <h3>Nos valeurs</h3>

		<p>La géomatique est une discipline vaste qui demande des connaissances en gestion d'information, analyse des processus spatiaux, sémiologie cartographie et informatique (web, programmation, gestion d'infrastructure logiciel ...), en d'autres termes les systèmes d'information géographique SIG.</p>

		<p>Actuellement la plupart des géomaticiens sont salariés des collectivités publiques ou bien de grandes entreprises, car leur compétence sont assez rares et donc chers.</p>

		<p>Nous sommes pourtant convaincus que la géomatique est utile à de très nombreux secteurs et pour autant très peu de petites entreprises profitent de ce savoir faire. </p>
		
		<p>Grâce à la communauté open-source et open-data, les coûts d'accès à ces services chutent considérablement. Nous sommes fier de cela. Désormais, nous pouvons proposer des solutions à aucun coût de licence et des données gratuites pour améliorer les décisions que vous prenez tous les jours dans votre métier.</p>
		
		<p>Notre entreprise est jeune et innovante. Nous souhaitons vous offrir la liberté d'accès à la géomatique à moindre coût et à risque zéro. Nous pouvons faire cela grâce aux logiciels Open-source comme QGIS (et bien d'autre), aux données libres, à la production de données privées de très bonne qualité et au partage de notre savoir faire. </p>
		
		<p>Nous maîtrisons l'ensemble des techniques et outils de pointes pour révolutionner certaines des méthodes anciennes désuètes. Évidement nous sommes spécialistes en géomatique mais pas de votre métier, c'est pour cela que nous apportons autant d'importance à la collaboration et à notre capacité d'adaptation. Nous aimons découvrir les contraintes de vos métiers et nous seront toujours à l'écoute de vos besoins et préférences pour améliorer vos méthodes et outils.</p>
		
		</div>
		</div>
		</div>
		</section>


<!--  AFFICHE La TEAM -->
		{% show_team %}
<!-- FIN Team -->		

		<section id="jobs" >
		<div class="pad8y block-section">
	    <div class='section clearfix col12 keyline-top fill-light building-blocks clip pading40vertical-nav '>
	    <div class="space-top8 space-bottom4 clearfix">
		<h3>Jobs et stages</h3>
		<p>Vous êtes intéressé par notre entreprise pour réaliser un contrat ou un stage ? Contactez-nous pour que nous puissions évaluer l'adéquation de votre candidature à nos projets.</p>
		</div>
		</div>
		</div>
		</section>
		
	</div>

</div>