{% block head_css %}    
{{ block.super }}
    <link rel="stylesheet" href="{% static "css/maps.css" %}">
{% endblock head_css %}

{% if service.nom_service == "Cartes et plans" %}
<div class="fill-white" id="ready-to-use">
   <div class=" contain clearfix fill-white clip" id="styles">
      <div class=" limiter clearfix prose clearfix center space-top8 space-bottom2">
        <div class="prose prose-big">
      <h1 class="center denim light"><a href="#styles" class="anchor">Choose a map</a></h1>
       <p class="col10 margin1 margin1r center quiet pad1y center prose pad8x space-bottom2">Choose from one of our professionally designed maps for your application or project. Use the provided URL with our <a href="/developers">developer tools</a> or customize the map in <a href="/studio">Mapbox Studio</a>.</p>

       </div>
      </div>
      <div class="gallery-container">

        
        <a href="/maps/light-dark" class="gallery-item gallery-item-1" style="background-image: url(https://api.mapbox.com/styles/v1/mapbox/light-v9/static/-73.9053,40.7363,11/800x500?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA); background-size: cover;"><div class="small strong pin-top pad2x pad1y dark center  round-top fill-darken1">Mapbox Light</div>
        <!-- <div class="pin-bottom space-bottom1"><p class='small pad2x pad1y fill-white center quiet '>Subtle but full-featured map for data visualizations and dashboards. </p></div> -->
        </a>


        
        <a href="/maps/light-dark" class="gallery-item gallery-item-2" style="background-image: url(https://api.mapbox.com/styles/v1/mapbox/dark-v9/static/-70.978,42.3624,11/800x500?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA); background-size: cover;"><div class="small strong pin-top pad2x pad1y dark center  round-top fill-darken1">Mapbox Dark</div>
        <!-- <div class="pin-bottom space-bottom1"><p class='small pad2x pad1y fill-white center quiet '>Subtle but full-featured map for data visualizations and dashboards. </p></div> -->
        </a>


        
        <a href="/maps/streets" class="gallery-item gallery-item-3" style="background-image: url(https://api.mapbox.com/styles/v1/mapbox/streets-v9/static/-122.288,37.7260,10.05/800x500?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA); background-size: cover;"><div class="small strong pin-top pad2x pad1y dark center  round-top fill-darken1">Mapbox Streets</div>
        <!-- <div class="pin-bottom space-bottom1"><p class='small pad2x pad1y fill-white center quiet '>General-purpose map with detailed road and transit networks. </p></div> -->
        </a>


        
        <a href="/maps/outdoors" class="gallery-item gallery-item-4" style="background-image: url(https://api.mapbox.com/styles/v1/mapbox/outdoors-v9/static/-121.7752,36.2514,14/800x500?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA); background-size: cover;"><div class="small strong pin-top pad2x pad1y dark center  round-top fill-darken1">Mapbox Outdoors</div>
        <!-- <div class="pin-bottom space-bottom1"><p class='small pad2x pad1y fill-white center quiet '>General-purpose map tailored to outdoor activities. </p></div> -->
        </a>


        
        <a href="/maps/satellite" class="gallery-item gallery-item-5" style="background-image: url(https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v9/static/140.01,-21.24,3/800x500?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA); background-size: cover;"><div class="small strong pin-top pad2x pad1y dark center  round-top fill-darken1">Mapbox Satellite Streets</div>
        <!-- <div class="pin-bottom space-bottom1"><p class='small pad2x pad1y fill-white center quiet '>Mapbox Streets data over high-resolution satellite imagery. </p></div> -->
        </a>


        

      </div>
    </div>
</div>
{% else %}

{% endif %}