{% extends "base.html" %}
{% load staticfiles %}

{% block head_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/showcase.css" %}">
{% endblock head_css %}  

{% block body_content %}

<div class='page-content'>


{% block nav %}
{% include "nav.html" %}
{% include "signup-nav.html" %}
{% endblock nav %}

{% block section-top %}
  {% include "services/service-section-top.html" %}
{% endblock section-top %}

{% block sections %}
  <!-- nav vertical après car sinon on les menus ne s'affichent pas sur l'image de fond-->

  {% block section-service %}
  {% include "services/service-description.html" %}
  {% endblock section-service %}

  {% block section-contact %}
    {% include "section-contact.html" %}
  {% endblock section-contact %}

{% endblock sections %}

</div>
{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}

{% endblock body_content %}
