{% load thumbnail sekizai_tags cat_index %}



{% if service_desc %}
<!-- dans ce cas on est dans les pages du detail des categorie avec la liste des  services -->

	{% for service in service_desc %}
		{% if service.description %}
			<div id={{service.slug}} class="limiter clearfix pad4y space-top4 prose">
			
				<div class="clearfix">
				<div class="col12 space-top1 clearfix contain pad4y space-bottom2 keyline-bottom">
					<div class="{% cycle 'column-block col6 fr' 'column-block col6 ' %} ">
					
						<div class="column-content col10 margin2">
						<h2>{{ service.nom_service}} </h2>
						{{ service.description | safe}}
						{% if service.nom_service = "Formation" %}
						<div class="prose"><a href="{{ service.get_absolute_url }}">Voir les formations</a></div>
						{% else %}

						{% endif %} 
						</div>
						
					
					</div>
					{% if service.image %}
					{% thumbnail service.image 400x300 crop upscale quality=75 subject_location=service.image.subject_location as photo %}
					<div class="{% cycle 'fl' '' %} " style="width:50%;height:50%">
					<img src="{{ photo.url }}">
					</div>
					
						{% else %}	
						{% endif %} 


				</div>
				</div>
			</div>			
		{% else %}
		{% endif %}		
	
	{% endfor %}
{% else %} 
<!-- dans ce cas on est dans les pages du detail de service -->
	<div class="limiter clearfix pad4y space-top4 prose">
	<div class="clearfix">
	<div class="col12 space-top1 clearfix contain pad4y space-bottom2 keyline-bottom">
	<div class="column-block col6">
	<div class="column-content col10 margin2r">
	{{ service.description | safe}} 
	</div>
	</div>
	</div>
	</div>
	</div>
	
	{% if service.nom_service == "Formation" %}
	
		{% show_cat_formation_index %}
		
		{% else %}
		{% if service.html_page %}
			{{ service.html_page |safe }}
			{% else %}
			{% endif %}
	{% endif %}
{% endif %}