.pattern {
  background: url(img/help-design/pattern.jpg) repeat;
  background-size: 150px;
}

#help-page .round {
  border-radius: 5px;
}

#search-input {
  border-radius: 40px !important;
  background: rgba(34, 63, 45, 0.1);
}

#search-input  .with-icon input[type=text] {
  padding-left: 50px;
  background-color: transparent;
  border: none;
  color: #52B678;
}

#search-results:empty {
  display: none;
}

.limiter.limiter-big {
  width: 88%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.category-block-inner .col4 {
  padding-right: 20px;
}

.overview {
  padding-left: 40px;
  padding-right: 40px;
}

.subcategory-title {
  color: rgba(0, 0, 0, 0.65) !important;
}

.closed .rcon.caret-down:after {
  content: "\e6a7";
}
.closed .rcon.caret-right:after, .rcon.caret-down:after {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #bdbdbd;
}

.closed .rcon.caret-down.rcon.caret-right:after {
  content: "\e6a7";
}
.rcon.caret-down.rcon.caret-right:after {
  content: "\e6a5";
}

.link-column {
  padding-right: 30px;
}

.subcategory-block-inner {
  padding-top: 10px;
  padding-bottom: 40px;
}

.subcategory-block-inner .quiet {
  color: #60606D !important;
}


.back-to-top {
  text-align: right;
}

h2.category-block {
  padding-top: 20px !important;
}

.help .keyline-left,
.help .keyline-right { border-color:#e5e5e5; }
#contact        { display:none; }
#contact:target { display:block; }

/* Category closed styles */
.subcategory-block {
  cursor: pointer;
}

.category-container {
  margin-left: 60px;
}

.category-container:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #3BB2D0;
  left: -42px;
  border-radius: 5px;
}

.category-container.line-denim:before     {background-color: #495d77; }
.category-container.line-blue:before      {background-color: #347eb9; }
.category-container.line-cyan:before      {background-color: #39adcc; }
.category-container.line-midnight:before  {background-color: #1d334b; }
.category-container.line-purple:before    {background-color: #8380c7; }
.category-container.line-pink:before      {background-color: #e95591; }
.category-container.line-mustard:before   {background-color: #f9ac35; }
.category-container.line-orange:before    {background-color: #f67e64; }

.help-action {
  min-height: 195px;
}

a.help-action {
  color: #60606D;
}

a:hover.help-action {
  background-color: #f7f7f7;
}

.search-tag {
  background: rgba(128, 128, 128, 0.18);
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
  float: left;
  font-size: 11px;
  color: grey;
  margin-left: 8px;
  margin-top: -3px;
}

.clear {
  clear: both;
}

.icon.icon-left-align:not(.big):before {
  margin-left: -5px;
}

.back-to-help {
  text-transform: uppercase;
}

#search-input .icon.search:before {
  content: "\e66f";
  color: #52B678;
  padding-left: 10px;
}

#search-input form fieldset {
  margin: 0 0 0px;
  border-radius: 40px !important;
  background-color: white;
}

.help-link { clear:left; }
.help-item.prose p > img,
.help-item.prose li > img {
  margin:20px 0;
}
.illustration.no-results {
  background-image: url(../../img/no-results.png);
  background-size: 120px 120px;
}
#search-results .swiftype {
  padding:0 20px 20px 20px;
}

.nav .active a { color:#444; }

.nav .h2:first-child {
  margin-top: 0;
}

.prose ul ul li:first-of-type {
    margin-top: 10px;
}

/* Code + Demos
------------------------------------------------------- */

.highlight {
  max-height: 280px;
  overflow: auto;
}

.prose .demo {
  position: relative;
  height: 320px;
  margin: 0 0 40px;
  overflow: hidden;
}

.prose .demo iframe,
.prose .demo .map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 280px;
  padding: 0;
  border: none;
}

.prose .demo .highlight {
  background-color: #f8f8f8;
  z-index: 1000;
  position: relative;
  min-height: 280px;
  margin: 0;
  -webkit-transition: all .125s;
  -moz-transition: all .125s;
  -ms-transition: all .125s;
  transition: all .125s;
  -webkit-transform:translateY(100%);
  -moz-transform:translateY(100%);
  -ms-transform:translateY(100%);
  transform:translateY(100%);
}

.prose .demo .highlight.active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.highlight {
  overflow: auto;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  margin-bottom: 100px;
}

p .icon,
li .icon { /* align inlined icons with text */
  display: inline-block;
}

.prose table {
  margin-bottom: 20px;
}

.prose [class^='language-']:not(:last-child) {
  margin-bottom: 20px;
}

/* Guides */
.code-demo .highlight {
  border-radius: 5px 5px 0 0;
}

.code-demo .rounded-toggle {
  bottom: 22px;
  margin: 10px;
}

.fill-denim .rounded-toggle input[type=radio]:checked + label,
.fill-denim .rounded-toggle .active {
  background: white;
}

.prose .demo,
.prose .code-demo {
  position:relative;
  height:320px;
  margin:0 0 20px;
  overflow:hidden;
}
.prose .demo iframe,
.prose .demo .map,
.prose .code-demo .highlight {
  position:absolute;
  top:0;bottom:0;
  width:100%;
  height:280px;
  border:none;
}
.prose .demo .highlight {
  background-color:#f8f8f8;
  z-index:1000;
  position:relative;
  min-height:280px;
  margin:0;
  -webkit-transition:all .125s;
  -moz-transition:all .125s;
  -ms-transition:all .125s;
  transition:all .125s;
  -webkit-transform:translateY(100%);
  -moz-transform:translateY(100%);
  -ms-transform:translateY(100%);
  transform:translateY(100%);
}
.prose .demo .highlight:not(.active),
.prose .code-demo .highlight:not(.active) {
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0);
  display: none;
}

.prose .code-demo .highlight {
  background-color: #f8f8f8;
  height: 280px;
}
.prose .code-demo code,
.prose .code-demo pre {
  background: none;
}

.code-demo pre {
  padding: 20px 20px 55px;
}

.prose aside {
  font-size: 15px;
  line-height: 25px;
  padding: 20px;
  background: #f8f8f8;
  margin-bottom: 20px;
}

@media only screen and (min-width:840px) {
  .prose aside {
    float: right;
    width: 250px;
    margin-left: 20px;
  }
}

/* Override pre/code highlighter
---------------------------------------- */

pre .o,
pre .c,
pre .c1,
pre .cp,
pre .cm {
  font-style: normal;
}

.toc-wrap.affix {
  position: fixed;
  bottom: 15px;
  top: 10px;
}

.toc-wrap.affix-bottom {
  position: absolute;
  top: auto !important;
  bottom: 265px;
}


@media (min-width: 640px) {

  .toc {
    max-width: 250px;
  }

  .toc-wrap {
    max-width: 215px;
    font-size: 13px;
    padding-right: 20px;
  }
  .toc-wrap.affix,
  .toc-wrap.affix-bottom {
    overflow: auto;
  }
}



@media only screen and (max-width: 640px) {

  .toc-wrap.affix-bottom,
  .toc-wrap.affix {
    position: static;
    width: 100%;
  }

}


@media only screen and (max-width: 640px) {

  .toc {
    border: 1px solid rgba(0,0,0,0.10);
    margin-bottom: 20px;
  }

  .toc li {
    padding:0;
    margin:0;
  }

  .toc li a { padding:10px; }

  .toc li:not(:last-child) a { border-bottom:1px solid rgba(0, 0 ,0 , .10); }

}


@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
  .illustration.no-results { background-image: url(../../img/no-results@2x.png); }
}

@media only screen and (max-width:1200px) {
  .overview {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width:1000px) {
  .limiter.limiter-big {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 960px) {
  #search-input form fieldset:last-child {
    margin-bottom: 0px !important;
  }
}

@media only screen and (max-width:900px) {
  .help-grid-item {
    width: 50%;
    max-width: none;
  }
  .subcategory-block-inner .col4 {
    width: 100%;
    max-width: none;
  }
  .link-column {
    padding-right: 0px;
  }
}
@media only screen and (max-width:640px) {
  .help-cat,
  .help-item {
    border-left:0px;
    border-bottom:1px solid rgba(0,0,0,0.1);
  }
  .help-grid-item {
    width: 100%;
    max-width: none;
  }
  .help-action {
    min-height: 0px;
  }
}
