@media screen and (max-width: 1400px) {
  .grid__sizer,
  .grid__item,
  .grid__item--size-a {
    width: 20%;
    min-height: 350px;
  }
  .grid__item_33{
    width: 29%; 
    min-width: 350px;
    margin-left: 15em;   
  }
}


@media screen and (max-width: 1180px) {
  .grid__sizer,
  .grid__item,
  .grid__item--size-a {
    width: 20%;
    min-height: 350px;

  }
  .grid__item_33{
    width: 29%;
    min-width: 400px;
    }

  .topsection { 
    height: 1020px; 
  }
}
@media screen and (max-width: 65em) {
  .grid__sizer,
  .grid__item,
  .grid__item--size-a {
    width: 25%;
    min-height: 350px;

  }
  .grid__item_33{
    width: 29%;
    min-width: 400px;
    }
}


@media only screen and (max-width: 1080px) {

.margin3r { margin-right: 1.33%; }
.service-block .service-block-unactive {
  width: 24%;
  min-height: 165px;
 }
}


@media only screen and (max-width:1040px) {
  .imagecouverture {
      margin-bottom: -200px;
      left: -30px;
  }

}

@media only screen and (max-width:1024px) {
  .customer-logos div {
    width: 20%;
  }
  .customer-logos div:last-of-type {
    margin-top: 10px;
  }
  .imagecouverture {
    height:  100%;
    position: relative;
    margin-bottom: -200px;
    left: 0;
    right: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
}



@media only screen and (max-width:940px) {
  .main-subnav  {
    font-size: 12px !important;
  }
}
/* Small Screen Layout
------------------------------------------------------- */
@media only screen and (max-width:900px) {
  .limiter {
    width: 100%;
    padding-left:20px;
    padding-right:20px;
  }
}

/* Tablet Layout
------------------------------------------------------- */
@media only screen and (max-width:770px) {
  .hide-tablet { display:none; }
  .show-tablet { display:block; }
}


@media only screen and (max-width: 750px) {
 .service-block .service-block-unactive {
  width: 48%;
  min-height: 135px;
  margin-right: 0%;
 }
 .mobile-margin-4r { margin-right:4%; }
 .mobile-margin-bottom1 { margin-bottom:20px; }
 .col12.space-top2 {
  margin-top:0px;
 }
  .title-block {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}



@media screen and (max-width: 50em) {
  .grid__sizer,
  .grid__item,
  .grid__item--size-a {
    width: 33%;
  }
}

/* Mobile Layout
------------------------------------------------------- */



@media only screen and (max-width:640px) {

  .grid__sizer,
  .grid__item,
  .grid__item--size-a {
    width: 50%;
  }
  .pin-right.col6 {
  position: inherit;
 }
  .masthead { height: 60px;}


  .dropdown-menu {
    position: fixed;
    text-align: left;
    top: 60px;
    bottom: 0;
    opacity: 0;
    width: 100%;
    -webkit-transition:opacity .125s, -webkit-transform 0 .15s;
       -moz-transition:opacity .125s,    -moz-transform 0 .15s;
        -ms-transition:opacity .125s,     -ms-transform 0 .15s;
            transition:opacity .125s,         transform 0 .15s;
  }

  .dropdown-menu.active {
    opacity: 1;
    -webkit-transform:translateY(0%);
       -moz-transform:translateY(0%);
        -ms-transform:translateY(0%);
            transform:translateY(0%);
    -webkit-transition:opacity .125s, -webkit-transform 0 0;
       -moz-transition:opacity .125s,    -moz-transform 0 0;
        -ms-transition:opacity .125s,     -ms-transform 0 0;
            transition:opacity .125s,         transform 0 0;
  }

  .dropdown-button { right: -10px;}

  .masthead { z-index: 12;}
  .masthead nav {
    z-index: 12;
    position: fixed;
    padding: 10px 20px;
    top: 0;
    left: 0;
    right: 0;
  }
  .masthead nav { background: #1d334b;}
  .masthead nav.active { background:#264261; }
  .masthead.home-nav nav { background: #39AACB;}

  .dropdown-button.active::after {
    content: '';
    display: block;
    position: relative;
    bottom: 0px;
    left: 0;
    width: 0;
    right: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #142736;
    margin: auto;
  }

  .splash { padding-top: 60px; }


  a:link          { -webkit-tap-highlight-color:rgba(0,0,0,0); }
  label .inline a { font-weight:normal; }

  .row1  { height:auto; min-height: 40px;}
  .row2  { height:auto; min-height: 80px;}
  .row3  { height:auto; min-height: 120px;}
  .row4  { height:auto; min-height: 160px;}
  .row5  { height:auto; min-height: 200px;}
  .row6  { height:auto; min-height: 240px;}
  .row7  { height:auto; min-height: 280px;}
  .row8  { height:auto; min-height: 320px;}
  .row9  { height:auto; min-height: 360px;}
  .row10 { height:auto; min-height: 400px;}
  .row11 { height:auto; min-height: 440px;}
  .row12 { height:auto; min-height: 480px;}
  .row13 { height:auto; min-height: 520px;}
  .row14 { height:auto; min-height: 560px;}
  .row15 { height:auto; min-height: 600px;}
  .row16 { height:auto; min-height: 640px;}

  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12,
  .fifths > * { width:100%; max-width:100%; }
  .margin0,
  .margin1,
  .margin2,
  .margin3,
  .margin4,
  .margin5,
  .margin6,
  .margin7,
  .margin8,
  .margin9,
  .margin10,
  .margin11,
  .margin12                     { margin-left:0; }
  .pad8                         { padding:40px; }
  .pad8y                        { padding-top:40px; padding-bottom:40px;}
  .pad8x                        { padding-left:40px; padding-right:40px;}
  .pad4y                        { padding-top:20px; padding-bottom:20px; }
  .pad4                         { padding:20px; }
  .pad4x                        { padding-left:20px; padding-right:20px; }
  .pad2                         { padding:10px; }
  .pad2y                        { padding-top:10px; padding-bottom:10px; }
  .pad2x                        { padding-right:10px; padding-left:10px; }
  .title                        { margin-bottom:10px; }
  .space-bottom2, .space-bottom { margin-bottom:10px; }
  .space-bottom4                { margin-bottom:20px; }
  .space-bottom8                { margin-bottom:40px;}
  .space-top2                   { margin-top:10px;}
  .space-top4                   { margin-top:20px;}
  .space-top-hnav               { margin-top:35px;}
  .space-top8                   { margin-top:40px;}
  .hide-mobile                  { display:none!important; }
  .show-mobile                  { display:block!important; }
  .show-mobile.inline           { display:inline-block!important; }

  .pill:not(.mobile-cols) > *:not(.stroke) {
    width:100%;
    border-left-width:0;
    border-bottom-width:1px;
    }
  .pill:not(.mobile-cols) > *:first-of-type {
    border-radius:3px 3px 0 0;
    }
  .pill:not(.mobile-cols) > *:last-of-type:not(.stroke) {
    border-bottom-width:0;
    border-radius:0 0 3px 3px;
    }
  .tabs:not(.mobile-cols) > a              { border-right-width:0; border-bottom-width:1px; }
  .tabs:not(.mobile-cols) > a:last-of-type { border-bottom:none; }

  .mobile-cols > .col0    { float:left; width:04.1666%; }
  .mobile-cols > .col1    { float:left; width:08.3333%; }
  .mobile-cols > .col2    { float:left; width:16.6666%; }
  .mobile-cols > .col3    { float:left; width:25.0000%; }
  .mobile-cols > .col4    { float:left; width:33.3333%; }
  .mobile-cols > .col5    { float:left; width:41.6666%; }
  .mobile-cols > .col6    { float:left; width:50.0000%; }
  .mobile-cols > .col7    { float:left; width:58.3333%; }
  .mobile-cols > .col8    { float:left; width:66.6666%; }
  .mobile-cols > .col9    { float:left; width:75.0000%; }
  .mobile-cols > .col10   { float:left; width:83.3333%; }
  .mobile-cols > .col11   { float:left; width:91.6666%; }

  .mobile-cols > .margin0  { margin-left:04.1666%; }
  .mobile-cols > .margin1  { margin-left:08.3333%; }
  .mobile-cols > .margin2  { margin-left:16.6666%; }
  .mobile-cols > .margin3  { margin-left:25.0000%; }
  .mobile-cols > .margin4  { margin-left:33.3333%; }
  .mobile-cols > .margin5  { margin-left:41.6666%; }
  .mobile-cols > .margin6  { margin-left:50.0000%; }
  .mobile-cols > .margin7  { margin-left:58.3333%; }
  .mobile-cols > .margin8  { margin-left:66.6666%; }
  .mobile-cols > .margin9  { margin-left:75.0000%; }
  .mobile-cols > .margin10 { margin-left:83.3333%; }
  .mobile-cols > .margin11 { margin-left:91.6666%; }
  .mobile-cols > .margin12 { margin-left:100.0000%; }

  /* Fanct gets too big, revert to defaults */
  h1.fancy { font-size:40px;line-height:60px;}
  h2.fancy {
    font-size:30px;
    line-height:40px;
  }
  h3.fancy {
    font-size:20px;
    line-height:30px;
  }

  /* Deprecated */
  h1.futura { font-size:40px;line-height:60px;}
  h2.futura {
    font-size:30px;
    line-height:40px;
  }
  h3.futura {
    font-size:20px;
    line-height:30px;
  }

  /* Anchor icon adds noise to the page on smaller displays */
  .doc h1[id]:before,
  .doc h2[id]:before,
  .doc h3[id]:before,
  .doc h4[id]:before { visibility:hidden; }

  /* Lower the size back down to standard
   * .prose units on mobile */
  .prose-big,
  .prose-big h3,
  .prose-big h4,
  .prose-big h5,
  .prose-big h6 {
    font-size:15px;
    line-height:25px;
    }
  .prose-big .small,
  .prose-big small {
    font-size:12px;
    line-height:20px;
    }

  .limiter {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 25em) {
  .grid {
    max-width: 75%;
  }
  .grid__sizer,
  .grid__item,
  .grid__item--size-a {
    width: 100%;
  }
  
}

