/* Hero
------------------------------------------------------- */
.background-gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#60c5ef+8,2847cc+99 */
background: #60c5ef; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #60c5ef 8%, #2847cc 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #60c5ef 8%,#2847cc 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #60c5ef 8%,#2847cc 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60c5ef', endColorstr='#2847cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.industries-cta {
    background: rgba(162, 196, 231, 0.28);
    border-top: 1px solid rgba(255, 255, 255, 0.51);
}

.button.kobalt {
    color: #325dd2 !important;
}

.button.fill-white:hover, .button.fill-white.active {
    background-color: rgba(255, 255, 255, 0.86);
}

img[src*=".svg"] {
  width: 100%;
}

.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.device.device-desktop .device-content {
     max-height: none;
}
.customer-logos {
  width: 100%;
  opacity: .39;
}

.customer-logos div {
  width: 12.5%;
  float: left;
}

#travel .customer-logos div {
  width: 16.66667%;
  float: left;
}

#business-intelligence .customer-logos div {
  width: 14.2857%;
  float: left;
}

#travel .customer-logos {
    width: 100%;
    margin-left: 0;
    opacity: 0.6;
}

#transportation .customer-logos div {
  width: 16.666667%;
  float: left;
}

.text-shadow {
  text-shadow: 0px 0px 80px rgb(51, 96, 211);
}



.fill-showcase {
    background: #132253;
    background-size: 400px 400px;
}

#lonelyplanet svg, #tableau svg {
  width: 100%;
  height: 100%;
}

.mm-android {
    margin-right: 140px;
    bottom: -65px;
}

.mm-ios {
   bottom: -38px;
   right: -120px;
   width: 320px;
   max-width: 320px;
}

.mm-ios img, .device img {
  width: 100%;
}

.twc-ios {
  bottom: -70px;
}

@media only screen and (max-width: 1024px) {
  .mm-android {
    margin-right: 100px;
    bottom: 66px;
    width: 270px;
  }
  .mm-ios {
    bottom: 102px;
    right: -120px;
    width: 290px;
  }
  .lp-ios {
    top: 10px;
    left: -110px;
    width: 360px;
  }
  .twc-ios {
    bottom: -70px;
    width: 370px;
    right: -30px;
  }
}

@media only screen and (max-width: 820px) {
  .mm-android {
    display: none;
  }
   .mm-ios {
      bottom: 40px;
      right: -20px;
      width: 340px;
  }

  .intro p {
    width: 100%;
    text-align: center;
  }
  .intro a {
    position: relative;
    top: 0px;
    transform: none;
    margin-bottom: 10px;
    margin-top: 20px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}@media only screen and (max-width: 750px) {

   .mm-ios {
      bottom: 140px;
      right: -20px;
      width: 300px;
  }
  .twc-ios { right: -70px; }
}

@media only screen and (max-width: 640px) {
  .mm-ios {
      bottom: 0px;
      right: 0;
      width: 80%;
      position: relative;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 40px;
  }
}

/*********  SHARED CSS  *********/
/*********  Quote *********/
blockquote {
    color: rgba(0,0,0,.5);
    padding: 0 0 0 30px;
    background: transparent;
    position: relative;
    margin: 20px 0px
}

blockquote .wp-logo {
    left: -30px;
    padding: 6%;
}

.dark blockquote {
    color: rgba(255,255,255,.5);
}

blockquote::after {
    content: '';
    position: absolute;
    width: 4px;
    left: 0;
    bottom: 0;
    top: 35px;
    background-color: rgba(0,0,0,.1);
}

.dark blockquote::after {
    background-color: rgba(255,255,255,.05);
}

blockquote::before {
    content: '\201C';
    padding-top: 15px;
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: rgba(0,0,0,.1);
    position: absolute;
    left: -20px;
    height: 35px;
}

.dark blockquote::before {
    color: rgba(255,255,255,.1);
}


.device.device-phone-v .device-content {
    max-height: none;
}

/* Sticky navigation
-------------------------------------------------- */

.sticky-nav ul li {
    text-align: center;
    display: inline-block;
}

.sticky-nav ul li:last-of-type {
  padding-right: 0px;
}

.sticky-nav ul li a {
  color: #909090;
}

.sticky-nav ul li a.active {
  color: rgba(55, 132, 186, 1.000);
}

.sticky-nav ul li a {
  color: #909090;
}

.sticky-nav ul li a.button.contact {
  color: #909090;
  background-color: white;
  font-weight: normal;
  -webkit-transition:   background-color .3s;
  -moz-transition:      background-color .3s;
  -o-transition:        background-color .3s;
  -ms-transition:       background-color .3s;
  transition:           background-color .3s;
  border-radius: 30px;
}

.sticky-nav ul li a:hover.contact {
  background-color: white;
}

.sticky-nav ul li a.button.contact {
  font-family: 'Open Sans', sans-serif;
}

.sticky-nav.sticky ul li a:hover.contact {
    background-color: #398ed1 !important;
    color: #e95591;
}

.sticky-nav.sticky ul li a.button.contact {
    color: #ffffff;
    background-color: #347eb9;
   font-weight: 700;
}

.sticky-nav ul li a.active {
  color: rgba(55, 132, 186, 1.000);
}

.sticky-nav {
  -webkit-transition:   background-color .5s ease-in, color .5s ease-in;
  -moz-transition:      background-color .5s ease-in, color .5s ease-in;
  -o-transition:        background-color .5s ease-in, color .5s ease-in;
  -ms-transition:       background-color .5s ease-in, color .5s ease-in;
  transition:           background-color .5s ease-in, color .5s ease-in;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background-color: rgba(254, 255, 251, 0.93);
}

/* Absolute Positioning
------------------------------------------------------- */
.demo-absolute { position: absolute }

.top-100 { top: -100px }
.top-20 { top: -20px }
.top-10 { top: -10px }
.top10 { top: 10px }
.top20 { top: 20px }
.top30 { top: 30px }
.top40 { top: 40px }
.top50 { top: 50px }
.top60 { top: 60px }
.top80 { top: 80px }

.left0 { left: 0 }
.left5 { left: -5% }
.left10 { left: -10% }
.left20 { left: -20% }
.left30 { left: -30% }
.left40 { left: -40% }

.right40px { right: 40px }
.right0 { right: 0 }
.right10 { right: -10% }
.right20 { right: -20% }
.right30 { right: -30% }
.right40 { right: -40% }
.right50 { right: -50% }


/* Customer logos
------------------------------------------------------- */

a[class*='customer-big-'] {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  background: url(color-logos.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

a.customer-big-foursquare      { background-position: 0 0; }
a.customer-big-pinterest       { background-position: 0 5%; }
a.customer-big-nat-geo         { background-position: 0 10%; }
a.customer-big-evernote        { background-position: 0 15%; }
a.customer-big-ft              { background-position: 0 20%; }
a.customer-big-github          { background-position: 0 25%; }
a.customer-big-square          { background-position: 0 30%; }
a.customer-big-roadtrippers    { background-position: 0 35%; }
a.customer-big-scoot           { background-position: 0 40%; }
a.customer-big-etsy            { background-position: 0 45%; }
a.customer-big-instacart       { background-position: 0 50%; }
a.customer-big-automatic       { background-position: 0 55%; }
a.customer-big-vk              { background-position: 0 60%; }
a.customer-big-randmcnally     { background-position: 0 65%; }
a.customer-big-ally            { background-position: 0 70%; }
a.customer-big-instacart-green { background-position: 0 75%; }

a.block:hover .quiet {
  color: white;
}



.customer-logo-color, .customer-logo-big  {
  height: 70px;
  margin-bottom: 20px;
}


/********** MOBILE SECTION **********/

#mobile .mobile-iphone {
  height: 880px;
  width: 400px;
  position: absolute;
  right: 0px;
  top:  -100px;
  margin-right: auto;
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

/********** DESIGN SECTION **********/
div.studio {
  background: url(studio.png) left top no-repeat;
  display: block;
  background-size: 100% auto;
  top: 260px;
}

#design-tools .icon.check:before {
  color: #39abc7;
}


/* normal font weight + uppercase for articles */
span.upper {
  display: block;
  text-transform: uppercase;
}

.device-browser {
  width: 100%;
}

.device.device-browser .device-content {
  border-radius: 0 0 10px 10px;
  max-height: 700px;
}

.device-browser .device-content {
  width: 100%;
}

/* rounded corners */
.device-content img, .device-content iframe {
  border-radius: 0 0 10px 10px;
}

iframe {
    margin-bottom: -10px;
}

.device video {
    margin-bottom: -5px;
}

/* tablet */
.demo-fcc  .device.device-tablet-h .device-content  {
    max-width: 800px;
}

.enterprise-ad {
  background: url(enterprise.png) left bottom no-repeat;
  background-size: auto 100%;
  width: 900px;
  left: -23%;
}




/* phone */

.android-device {
  border-radius: 10px;
  border-style: solid;
  border-color: #374f59;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.android-device .device-details {
    display: block;
    width: 96%;
    height: 17px;
    position: absolute;
    bottom: -32px;
    left: 0;
    background: radial-gradient(rgba(0,0,0,0.5) 20%, transparent 60%) 0 0,radial-gradient(rgba(0,0,0,0.05) 20%, transparent 60%) 3px 3px;
    background-color: #374F59;
    background-size: 4px 4px;
    border-radius: 1px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.android-device .device-details-2 {
    display: block;
    width: 69%;
    height: 17px;
    position: absolute;
    TOP: -26px;
    left: 0;
    background: radial-gradient(rgba(0,0,0,0.5) 20%, transparent 60%) 0 0,radial-gradient(rgba(0,0,0,0.05) 20%, transparent 60%) 3px 3px;
    background-color: #374F59;
    background-size: 4px 4px;
    border-radius: 1px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.android-device.device-white .device-details-2 {
      background-color: #eceff3;
}

.android-device.device-white .device-details {
      background-color: #eceff3;
}

.android-device.device-phone-v {
  max-width: 300px;
  border-radius: 10px;
}
.android-device.device-phone-v.device-white,
.android-device.device-phone-h.device-white {
  border-color: #eceff3;
    box-shadow: 20px 0px 30px rgba(0, 0, 0, 0.15);
}

.android-device.device-phone-v {
    border-radius: 10px;
    border-right: 0px solid #374f59;
    border-left: 0px solid #374f59;
    border-top: 40px solid #374f59;
    border-bottom: 50px solid #374f59;
}

.android-device.device-phone-v, .android-device.device-phone-v.device-white, {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.android-device.device-phone-v .device-content {
  max-height: 400px;
}

.android-device.device-phone-v:before,
.android-device.device-phone-v:after {
    content: '';
    z-index: 10;
    display: block;
    position: absolute;
    left: 20px;
    right: auto !important;
    margin: auto;
    top: -23px;
    height: 10px;
    width: 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.25);
    border: 2px solid rgba(0, 0, 0, 0.29);
}

.android-device.device-phone-v.device-white:before{
    content: '';
    z-index: 10;
    display: block;
    position: absolute;
    left: 23px;
    /* right: 0; */
    margin: auto;
    top: -23px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.05);
}

.android-device.device-phone-v:after, .android-device.device-phone-v.device-white:after  {
   display: none;
}


.android-device.device-phone-v img {
      max-width: 100%;
    vertical-align: top;
    border-bottom: 22px solid rgb(36, 56, 64);
    border-left: 20px solid rgb(36, 56, 64);
    border-right: 20px solid rgb(36, 56, 64);
    border-top: 20px solid rgb(36, 56, 64);
}
.android-device.device-phone-v.device-white img {
    max-width: 100%;
    vertical-align: top;
    border-bottom: 10px solid #dce0e5;
    border-left: 10px solid #dce0e5;
    border-right:10px solid #dce0e5;
    border-top: 10px solid #dce0e5;
}

/*@media (max-width: 350px ){
  .device.device-phone-v {
    border-width: 60px 15px;
  }
}

*/
.android-device.device-phone-h {
    border-width: 1px 40px 1px 46px;
}

.android-device.device-phone-h .device-content {
  max-height: none;
}

.android-device.device-phone-h img {
      max-width: 100%;
    vertical-align: top;
    border-bottom: 22px solid rgb(36, 56, 64);
    border-left: 20px solid rgb(36, 56, 64);
    border-right: 20px solid rgb(36, 56, 64);
    border-top: 20px solid rgb(36, 56, 64);
}
.android-device.device-phone-h .device-details-2 {
    display: block;
    width: 20px;
    height: 100%;
    position: absolute;
    TOP: 0;
    left: -29px;
    background: radial-gradient(rgba(0,0,0,0.5) 20%, transparent 60%) 0 0,radial-gradient(rgba(0,0,0,0.05) 20%, transparent 60%) 3px 3px;
    background-color: #374F59;
    background-size: 4px 4px;
    border-radius: 1px;
    right: auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.android-device.device-phone-h .device-details {
    display: block;
    width: 20px;
    height: 70%;
    position: absolute;
    bottom: 0;
    left: auto !important;
    background: radial-gradient(rgba(0,0,0,0.5) 20%, transparent 60%) 0 0,radial-gradient(rgba(0,0,0,0.05) 20%, transparent 60%) 3px 3px;
    background-color: #374F59;
    background-size: 4px 4px;
    border-radius: 1px;
    right: -28px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.android-device.device-phone-h:before,
.android-device.device-phone-h:after {
    content: '';
    z-index: 10;
    display: block;
    position: absolute;
    left: 20px;
    right: auto;
    margin: auto;
    top: -23px;
    height: 10px;
    width: 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.25);
    border: 2px solid rgba(0, 0, 0, 0.29);
}
.android-device.device-phone-h:before, .device.device-phone-h:after {
    content: '';
    z-index: 10;
    display: block;
    position: absolute;
    left: auto;
    right: -22px;
    margin: auto;
    top: 30px;
    height: 10px;
    width: 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.25);
    border: 2px solid rgba(0, 0, 0, 0.29);
}
.android-device.device-phone-h:after, .android-device.device-phone-h.device-white:after  {
   display: none;
}





@media (max-width: 900px) {
.android-device.device-phone-h img {
    max-width: 100%;
    vertical-align: top;
    border-bottom: 15px solid rgb(36, 56, 64);
    border-left: 10px solid rgb(36, 56, 64);
    border-right: 15px solid rgb(36, 56, 64);
    border-top: 10px solid rgb(36, 56, 64);
}
}


@media (max-width: 700px) {
  .android-device.device-phone-h:before, .android-device.device-phone-h:after {
      top: 20px;
  }
}


@media (max-width: 640px) {
  .android-device.device-phone-h img {
      max-width: 100%;
      vertical-align: top;
      border-bottom: 12px solid rgb(36, 56, 64);
      border-left: 10px solid rgb(36, 56, 64);
      border-right: 10px solid rgb(36, 56, 64);
      border-top: 10px solid rgb(36, 56, 64);
  }

  .android-device.device-phone-h:before, .android-device.device-phone-h:after {display: none;}
  .android-device.device-phone-h {
    border-width: 1px 30px 1px 30px;
    }
    .android-device.device-phone-h .device-details-2 {
    display: block;
    width: 12px;
    left: -19px;
  }
  .android-device.device-phone-h .device-details {
    display: block;
    width: 12px;
    right: -20px;
  }
  .android-device.device-phone-v img {
    max-width: 100%;
    vertical-align: top;
    border-bottom: 12px solid rgb(36, 56, 64);
    border-left: 10px solid rgb(36, 56, 64);
    border-right: 10px solid rgb(36, 56, 64);
    border-top: 10px solid rgb(36, 56, 64);
}
}


/********** MOBILE **********/
@media only screen and (max-width: 1024px){
  .text-rearrange {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .enterprise-ad {
   left: -39%;
  }
}
@media only screen and (max-width: 1000px){
  .text-rearrange {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 65%;
    max-width: 100%;
  }
  .demo-rearrange {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 310px;
    width: 95%;
  }
}

@media only screen and (max-width: 640px){
  .demo-absolute {
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    top: 10px;
    left: 0px;
    right: 0px;
  }

  .icon-1 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    max-width: none;
    text-align: center;
  }
  .bar {
    padding: 20px;
  }
}