
@font-face {
  font-family:'fontastic';
    src: url('font/fontastic.ttf');
  }


@font-face {
  font-family:'byom-light';
    src: url('font/byom/Byom-Light-Trial.ttf');
  }

 @font-face {
  font-family:'byom-bold';
    src: url('font/byom/Byom-Bold-Trial.ttf');
  }
 @font-face {
  font-family:'byom-regular';
    src: url('font/byom/Byom-Regular-Trial.ttf');
  }

.geodatup-logo {
  /*background:#fff;*/
  position:relative;
  z-index:10;
  }

.geodatup-logo {
  /* background:transparent url(base@2x.png) no-repeat 0 0; */
  display:inline-block;
  vertical-align:top;
  height:40px;
  width:150px;
  overflow:hidden;
  -webkit-background-size:100px 350px;
          background-size:100px 350px;
  }
  .dark .geodatup-logo,
  .geodatup-logo.white { background-position:0px -60px; }
  .geodatup-logo.quiet { background-position:0px -120px; }
  .geodatup-logo.small {
    width:65px;
    height:20px;
    background-position:0 -180px;
    }
  .geodatup-logo.small.white { background-position:0 -240px;}
  .geodatup-logo.small.quiet { background-position:0 -300px;}

.geodatup-logo{
  font-family: 'byom-bold';
  padding-top: 10px;
}


.landing-header-image {
  background-image:url(/media/image/Pano-reduce-1920-530.jpg);
  background-repeat:no-repeat;
  }

.post-it-fixe{
  height: 350px;
}

.post-it-fixe-small{
  height: 200px;
}

.icon-ign_data:before {
  content: "\e900";
}

.cursor {
  cursor: pointer;
}
.service-block-unactive {
  width: 23%;
  min-height: 140px;
}

.becontinue
{
  display:inline-block;
  z-index:1;
  opacity:0.3;
  filter:alpha(opacity=50); 
}
.becontinue:hover
{
  opacity:1;
}

.becontinuetext{
  z-index:10;
  position: absolute;  
}

.rotate {
  text-align: center;
  -webkit-transform: rotate(328deg);
  -moz-transform: rotate(328deg);
  -o-transform: rotate(328deg);
  writing-mode: lr-tb;
  color: #828181;
}

.becontinuetext:hover {
  opacity:0.2;
}

.imagecouverture{
    height:  700px;
    max-height: 900px;
}




@media only screen and (max-width: 1080px) {
.service-block-unactive  {
  width: 24%;
  min-height: 165px;
 }
}

@media only screen and (max-width:1040px) {
  .imagecouverture {
      margin-bottom: -200px;
      left: -30px;
  }

}

@media only screen and (max-width:1025px) {
.imagecouverture {
    height:  100%;
    position: relative;
    margin-bottom: -200px;
    left: 0;
    right: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

@media only screen and (max-width: 750px) {
 .service-block-unactive  {
  width: 48%;
  min-height: 135px;
  margin-right: 0%;
 }
}






/* TOOL TIPS */
.tooltip {
  display: inline;
  position: relative;
  z-index: 999;
}

.tooltip-item {
  display: inline-block;
  text-decoration: none;
}

.tooltip-item.cursor {
  cursor: help;
}

.tooltip-item.false {
  text-decoration: line-through;
  color: rgba(0,0,0,.3);
}

.tooltip-item .quiet {
  color: rgba(0,0,0,.2);
}

.tooltip-item::after {
  content: '';
  position: absolute;
  width: 260px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip-item.cursor:hover,
.tooltip-item.cursor:hover .quiet,
.tooltip-item.cursor:hover .icon.info:before {
  color: black;
}
.tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 260px;
  left: 50%;
  margin: 0 0 20px -180px;
  bottom: 100%;
  text-align: left;
  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: #23394a;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  border-radius: 3px;
}

.tooltip .tooltip-content {
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.tooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #23394a;
  border-width: 10px;
  margin-left: -10px;
}

.tooltip-text {
  display: block;
  padding: 20px;
  color: #fff;
}

.tooltip-text a {
  font-weight: bold;
}

@media only screen and (max-width: 1700px) {
  .tooltip-content.tooltip-content-left::after {
    left: 10%;
  }
  .tooltip-content.tooltip-content-right::after {
    left: 90%;
  }
  .tooltip-content.tooltip-content-left {
    margin: 0 0 20px 0px;
    bottom: 100%;
    left: -20px;
  }
}


@media only screen and (max-width: 800px) {
   #features .col8 {width: 100%;}
   .icon.info:before { display: none; }
   .tooltip {pointer-events:none; z-index: 1;}
   .tooltip-content { display: none; }
}
