<section id="top" class='slideshow splash js-fullheight fill-blue contain animate clip active1' >
 
  <div class='carousel-fill col12 pin-left'>
  	
  </div>

  	<div class='z1 pin-top pin-bottom slideshow-container limiter clearfix pad8y row11'>

    	<div class='z1 slideshow-text pad4y col4 margin8 prose prose-big dark'>
      	<h2 class='fancy space-bottom1'>Mentions légales</h2>
        <p class="prose prose-big">            
          </p>
          <div class="design-section contain col8 pin-top row11">

            <div class="space-bottom4">
            
            </div>
            
        </div>
  </div> 

	</div>

</section>