{% extends "base.html" %}
{% load staticfiles sekizai_tags show_service show_nav %}
{% block body_content %}

<div class='page-content'>


{% block nav %}
{% show_nav_everywhere %}
{% include "signup-nav.html" %}
{% endblock nav %}

{% block section-top %}
  {% include "categories/categorie-section-top.html" %}
{% endblock section-top %}

{% block sections %}

  {% block section-categorie %}
   {% show_service_by_categorie %}

  {% endblock section-categorie %}

  {% block section-contact %}
    {% include "section-contact.html" %}
  {% endblock section-contact %}

{% endblock sections %}

</div>
{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}

{% endblock body_content %}


