{% extends "base.html" %}

{% block body_content %}

<div class="strong space-top2 dot icon-ign_data space-bottom1 quiet">IGN</div>


<div class="strong space-top2 dot icon-QGIS_logo space-bottom1 quiet">Qgis</div>

<div class="strong space-top2 icon icon-left-align book space-bottom1 quiet">book</div>


<div class="strong space-top2 icon icon-left-align walk space-bottom1 quiet">walk</div>

<div class="strong space-top2 icon icon-left-align certificate space-bottom1 quiet">certificate</div>

<div class="strong space-top2 icon icon-left-align caret-down space-bottom1 quiet">caret-down</div>

<div class="strong space-top2 icon icon-left-align step-ramp space-bottom1 quiet">step-ramp</div>

<div class="strong space-top2 icon icon-left-align smooth-ramp space-bottom1 quiet">smooth-ramp</div>
<div class="strong space-top2 icon icon-left-align bell space-bottom1 quiet">bell</div>

<div class="strong space-top2 icon icon-left-align minus-document space-bottom1 quiet">minus-document</div>
<div class="strong space-top2 icon icon-left-align grid space-bottom1 quiet">grid</div>
<div class="strong space-top2 icon icon-left-align osm space-bottom1 quiet">osm</div>
<div class="strong space-top2 icon icon-left-align at space-bottom1 quiet">at</div>
<div class="strong space-top2 icon icon-left-align history space-bottom1 quiet">history</div>
<div class="strong space-top2 icon icon-left-align sun space-bottom1 quiet">sun</div>
<div class="strong space-top2 icon icon-left-align account space-bottom1 quiet">account</div>







<div class="strong space-top2 icon icon-left-align adjust-stroke space-bottom1 quiet">adjust-stroke</div>


<div class="strong space-top2 icon icon-left-align alert space-bottom1 quiet">alert</div>

<div class="strong space-top2 icon icon-left-align antialias space-bottom1 quiet">antialias</div>

<div class="strong space-top2 icon icon-left-align arrive space-bottom1 quiet">arrive</div>

<div class="strong space-top2 icon icon-left-align arrowright space-bottom1 quiet">arrowright</div>

<div class="strong space-top2 icon icon-left-align bear-left space-bottom1 quiet">bear-left</div>

<div class="strong space-top2 icon icon-left-align bolt space-bottom1 quiet">bolt</div>
<div class="strong space-top2 icon icon-left-align bookmark space-bottom1 quiet">bookmark</div>
<div class="strong space-top2 icon icon-left-align building space-bottom1 quiet">building</div>
<div class="strong space-top2 icon icon-left-align cap-round space-bottom1 quiet">cap-round</div>
<div class="strong space-top2 icon icon-left-align cap-square space-bottom1 quiet">cap-square</div>
<div class="strong space-top2 icon icon-left-align cap-butt space-bottom1 quiet">cap-butt</div>
<div class="strong space-top2 icon icon-left-align cart space-bottom1 quiet">cart</div>
<div class="strong space-top2 icon icon-left-align check space-bottom1 quiet">check</div>




<div class="strong space-top2 icon icon-left-align clipboard space-bottom1 quiet">clipboard</div>
<div class="strong space-top2 icon icon-left-align close space-bottom1 quiet">close</div>
<div class="strong space-top2 icon icon-left-align x space-bottom1 quiet">x</div>
<div class="strong space-top2 icon icon-left-align cloud space-bottom1 quiet">cloud</div>
<div class="strong space-top2 icon icon-left-align compass space-bottom1 quiet">compass</div>
<div class="strong space-top2 icon icon-left-align creditcard space-bottom1 quiet">creditcard</div>
<div class="strong space-top2 icon icon-left-align contact space-bottom1 quiet">contact</div>
<div class="strong space-top2 icon icon-left-align cross-edge space-bottom1 quiet">cross-edge</div>
<div class="strong space-top2 icon icon-left-align crosshair space-bottom1 quiet">crosshair</div>
<div class="strong space-top2 icon icon-left-align dasharray space-bottom1 quiet">dasharray</div>
<div class="strong space-top2 icon icon-left-align dashboard space-bottom1 quiet">dashboard</div>
<div class="strong space-top2 icon icon-left-align data space-bottom1 quiet">data</div>
<div class="strong space-top2 icon icon-left-align depart space-bottom1 quiet">depart</div>
<div class="strong space-top2 icon icon-left-align document space-bottom1 quiet">document</div>
<div class="strong space-top2 icon icon-left-align duplicate space-bottom1 quiet">duplicate</div>
<div class="strong space-top2 icon icon-left-align en space-bottom1 quiet">en</div>
<div class="strong space-top2 icon icon-left-align enter-roundabout space-bottom1 quiet">enter-roundabout</div>
<div class="strong space-top2 icon icon-left-align eye space-bottom1 quiet">eye</div>
<div class="strong space-top2 icon icon-left-align facebook space-bottom1 quiet">facebook</div>
<div class="strong space-top2 icon icon-left-align folder space-bottom1 quiet">folder</div>
<div class="strong space-top2 icon icon-left-align floppy space-bottom1 quiet">floppy</div>
<div class="strong space-top2 icon icon-left-align nofolder space-bottom1 quiet">nofolder</div>


<div class="strong space-top2 icon icon-left-align font space-bottom1 quiet">font</div>
<div class="strong space-top2 icon icon-left-align forward space-bottom1 quiet">forward</div>
<div class="strong space-top2 icon icon-left-align foursquare space-bottom1 quiet">foursquare</div>
<div class="strong space-top2 icon icon-left-align fullscreen space-bottom1 quiet">fullscreen</div>
<div class="strong space-top2 icon icon-left-align gap-width space-bottom1 quiet">gap-width</div>
<div class="strong space-top2 icon icon-left-align globe space-bottom1 quiet">globe</div>
<div class="strong space-top2 icon icon-left-align harddrive space-bottom1 quiet">harddrive</div>
<div class="strong space-top2 icon icon-left-align graph space-bottom1 quiet">graph</div>
<div class="strong space-top2 icon icon-left-align heart space-bottom1 quiet">heart</div>
<div class="strong space-top2 icon icon-left-align hand space-bottom1 quiet">hand</div>
<div class="strong space-top2 icon icon-left-align help space-bottom1 quiet">help</div>
<div class="strong space-top2 icon icon-left-align home space-bottom1 quiet">home</div>
<div class="strong space-top2 icon icon-left-align inspect space-bottom1 quiet">inspect</div>
<div class="strong space-top2 icon icon-left-align info space-bottom1 quiet">info</div>
<div class="strong space-top2 icon icon-left-align join-miter space-bottom1 quiet">join-miter</div>
<div class="strong space-top2 icon icon-left-align join-bevel space-bottom1 quiet">join-bevel</div>
<div class="strong space-top2 icon icon-left-align join-round space-bottom1 quiet">join-round</div>

<div class="strong space-top2 icon icon-left-align l-r-arrow space-bottom1 quiet">l-r-arrow</div>
<div class="strong space-top2 icon icon-left-align land space-bottom1 quiet">land</div>
<div class="strong space-top2 icon icon-left-align landuse space-bottom1 quiet">landuse</div>
<div class="strong space-top2 icon icon-left-align layers space-bottom1 quiet">layers</div>
<div class="strong space-top2 icon icon-left-align leaflet space-bottom1 quiet">leaflet</div>

<div class="strong space-top2 icon icon-left-align levels space-bottom1 quiet">levels</div>
<div class="strong space-top2 icon icon-left-align lifebuoy space-bottom1 quiet">lifebuoy</div>
<div class="strong space-top2 icon icon-left-align line-miter-limit space-bottom1 quiet">line-miter-limit</div>
<div class="strong space-top2 icon icon-left-align line-round-limit space-bottom1 quiet">line-round-limit</div>

<div class="strong space-top2 icon icon-left-align link space-bottom1 quiet">link</div>
<div class="strong space-top2 icon icon-left-align linkedin space-bottom1 quiet">linkedin</div>
<div class="strong space-top2 icon icon-left-align lock space-bottom1 quiet">lock</div>
<div class="strong space-top2 icon icon-left-align logout space-bottom1 quiet">logout</div>
<div class="strong space-top2 icon icon-left-align mail space-bottom1 quiet">mail</div>
<div class="strong space-top2 icon icon-left-align mapbox space-bottom1 quiet">mapbox</div>
<div class="strong space-top2 icon icon-left-align icon-halo space-bottom1 quiet">icon-halo</div>
<div class="strong space-top2 icon icon-left-align symbol-layer space-bottom1 quiet">symbol-layer</div>
<div class="strong space-top2 icon icon-left-align max-text-angle space-bottom1 quiet">max-text-angle</div>
<div class="strong space-top2 icon icon-left-align menu space-bottom1 quiet">menu</div>
<div class="strong space-top2 icon icon-left-align minus space-bottom1 quiet">minus</div>
<div class="strong space-top2 icon icon-left-align mobile space-bottom1 quiet">mobile</div>
<div class="strong space-top2 icon icon-left-align mt space-bottom1 quiet">mt</div>
<div class="strong space-top2 icon icon-left-align next space-bottom1 quiet">next</div>
<div class="strong space-top2 icon icon-left-align noeye space-bottom1 quiet">noeye</div>
<div class="strong space-top2 icon icon-left-align opacity space-bottom1 quiet">opacity</div>
<div class="strong space-top2 icon icon-left-align package space-bottom1 quiet">package</div>
<div class="strong space-top2 icon icon-left-align paint space-bottom1 quiet">paint</div>
<div class="strong space-top2 icon icon-left-align pencil space-bottom1 quiet">pencil</div>
<div class="strong space-top2 icon icon-left-align picture space-bottom1 quiet">picture</div>
<div class="strong space-top2 icon icon-left-align plus space-bottom1 quiet">plus</div>
<div class="strong space-top2 icon icon-left-align point-line space-bottom1 quiet">point-line</div>
<div class="strong space-top2 icon icon-left-align polyline space-bottom1 quiet">polyline</div>
<div class="strong space-top2 icon icon-left-align prev space-bottom1 quiet">prev</div>
<div class="strong space-top2 icon icon-left-align printer space-bottom1 quiet">printer</div>
<div class="strong space-top2 icon icon-left-align raster space-bottom1 quiet">raster</div>
<div class="strong space-top2 icon icon-left-align redo space-bottom1 quiet">redo</div>
<div class="strong space-top2 icon icon-left-align refresh space-bottom1 quiet">refresh</div>
<div class="strong space-top2 icon icon-left-align return space-bottom1 quiet">return</div>
<div class="strong space-top2 icon icon-left-align rotate space-bottom1 quiet">rotate</div>
<div class="strong space-top2 icon icon-left-align rss space-bottom1 quiet">rss</div>
<div class="strong space-top2 icon icon-left-align satellite space-bottom1 quiet">satellite</div>
<div class="strong space-top2 icon icon-left-align search space-bottom1 quiet">search</div>
<div class="strong space-top2 icon icon-left-align share space-bottom1 quiet">share</div>
<div class="strong space-top2 icon icon-left-align sharp-left space-bottom1 quiet">sharp-left</div>
<div class="strong space-top2 icon icon-left-align sharp-right space-bottom1 quiet">sharp-right</div>
<div class="strong space-top2 icon icon-left-align sprocket space-bottom1 quiet">sprocket</div>
<div class="strong space-top2 icon icon-left-align stackoverflow space-bottom1 quiet">stackoverflow</div>
<div class="strong space-top2 icon icon-left-align star space-bottom1 quiet">star</div>
<div class="strong space-top2 icon icon-left-align street space-bottom1 quiet">street</div>

<div class="strong space-top2 icon icon-left-align tilemill space-bottom1 quiet">tilemill</div>
<div class="strong space-top2 icon icon-left-align time space-bottom1 quiet">time</div>
<div class="strong space-top2 icon icon-left-align tooltip space-bottom1 quiet">tooltip</div>
<div class="strong space-top2 icon icon-left-align trash space-bottom1 quiet">trash</div>
<div class="strong space-top2 icon icon-left-align position space-bottom1 quiet">position</div>
<div class="strong space-top2 icon icon-left-align turn-left space-bottom1 quiet">turn-left</div>
<div class="strong space-top2 icon icon-left-align twitter space-bottom1 quiet">twitter</div>
<div class="strong space-top2 icon icon-left-align tx space-bottom1 quiet">tx</div>
<div class="strong space-top2 icon icon-left-align u-turn space-bottom1 quiet">u-turn</div>
<div class="strong space-top2 icon icon-left-align u-d-arrow space-bottom1 quiet">u-d-arrow</div>
<div class="strong space-top2 icon icon-left-align up space-bottom1 quiet">up</div>
<div class="strong space-top2 icon icon-left-align video space-bottom1 quiet">video</div>
<div class="strong space-top2 icon icon-left-align water space-bottom1 quiet">water</div>
<div class="strong space-top2 icon icon-left-align quotes space-bottom1 quiet">quotes</div>

<div class="strong space-top2 icon icon-left-align number space-bottom1 quiet">number</div>
<div class="strong space-top2 icon icon-left-align line space-bottom1 quiet">line</div>
<div class="strong space-top2 icon icon-left-align fill space-bottom1 quiet">fill</div>
<div class="strong space-top2 icon icon-left-align map space-bottom1 quiet">map</div>
<div class="strong space-top2 icon icon-left-align studio space-bottom1 quiet">studio</div>
<div class="strong space-top2 icon icon-left-align tileset space-bottom1 quiet">tileset</div>
<div class="strong space-top2 icon icon-left-align point-line-poly space-bottom1 quiet">point-line-poly</div>
{% endblock body_content %}