{% extends "base_one.html" %}
{% load staticfiles sekizai_tags %}

{% block title %}GeoDatup{% endblock title %}

{% block head_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/site.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/developers.css" %}">
    <link rel="stylesheet" href="{% static "css/products.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome-4.5.0/css/font-awesome.css" %}">
{% endblock head_css %}  
</head>

{% block body_class %} full bleed{% endblock %}
{% block body_content %}

<div class='page-content'>


{% block nav %}

{% include "nav.html" %}
{% include "signup-nav.html" %}
{% endblock nav %}

{% block sections %}

    {% block section-top %}
        {% include "section-top.html" %}
    {% endblock section-top %}
    {% block section-showcase %}
        {% include "section-showcase.html" %}
    {% endblock section-showcase %}
    {% block nav-vertical %}
        {% include "nav-vertical.html" %}
    {% endblock nav-vertical %}

    {% block section-2 %}
      <section id="building-blocks" class="fill-white" >
        <div class="limiter center clearfix">
          <div class="clearfix">
            <div class="col10 margin1 margin1r prose pad4y space-top4 space-top-hnav space-bottom2  ">
              <h2 class="denim">Veuillez nous excuser cette page et en cours de création</h2>
              <p class="prose-big quiet pad2x">encore un peu de patience ... </p>
              <a href="/" class="button pad4x ">Accueil</a>
            </div>
          </div>
        </div>
      </section>
    {% endblock section-2 %}



{% endblock sections %}

</div>



    {% block footer %}
        {% include "footer.html" %}
    {% endblock footer %}

{% endblock body_content %}
