
{% extends "base.html" %}
{% load staticfiles sekizai_tags  show_nav%}
{% block head_css %}
{{ block.super }}
{% endblock head_css %}  

{% block body_content %}

<div class='page-content'>


{% block nav %}
{% show_nav_everywhere %}
{% include "signup-nav.html" %}
{% endblock nav %}

{% block section-top %}
  {% include "about/about-section-top.html" %}
{% endblock section-top %}

{% block sections %}

  {% block section-about %}
    {% include "about/section-about.html" %}
  {% endblock section-about %}

  {% block section-contact %}
    {% include "section-contact.html" %}
  {% endblock section-contact %}

{% endblock sections %}

</div>
{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}

{% endblock body_content %}
