{% extends "base_one.html" %}
{% load staticfiles sekizai_tags %}


{% block title %}GeoDatup
{% if service %}
- {{ service.nom_service }}
{% endif %}
{% endblock title %}

{% block head_css %}
{{ block.super }}
{% endblock head_css %}  

{% block body_class %}full bleed{% endblock %}
{% block body_content %}

<div class='page-content'>


{% block nav %}
{% include "nav.html" %}
{% include "signup-nav.html" %}
{% endblock nav %}

{% block section-top %}
  {% include "section-top.html" %}
{% endblock section-top %}

{% block sections %}
	<!-- nav vertical après car sinon on les menus ne s'affichent pas sur l'image de fond-->
	{% block nav-vertical %}
		{% include "nav-vertical.html" %}
  {% endblock nav-vertical %}

	{% block section-showcase %}
		{% include "section-showcase.html" %}
	{% endblock section-showcase %}
	
	{% block section-2 %}
		{% include "section-2.html" %}
	{% endblock section-2 %}

	{% block section-data-create %}
		{% include "section-data-create.html" %}
	{% endblock section-data-create %}
	

	{% block section-data-life %}
		{% include "section-data-life.html" %}
	{% endblock section-data-life %}


	{% block section-formation %}
		{% include "section-formation.html" %}
	{% endblock section-formation %}

	{% block section-contact %}
		{% include "section-contact.html" %}
	{% endblock section-contact %}

{% endblock sections %}

</div>
{% block footer %}
		{% include "footer.html" %}
{% endblock footer %}

{% endblock body_content %}



{% block body_js %}
{{ block.super }}
{% endblock body_js %}




