{% load staticfiles sekizai_tags %}
{% block html %}
<!doctype html>
{% endblock html %}
<head>
    {% block meta %}
    <meta charset="utf-8" >
    <!--bing referencement-->
    <meta name="msvalidate.01" content="833803441EC8AC258CCC085C3D848CB7" />
    <!--YANDEX for DDG referencement-->
    <meta name="yandex-verification" content="49b0d2363f358ec7" />
    <title>{% block title %}{% endblock title %}</title>
    
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    {% endblock meta %}
    {% block head_css %}    

    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/my_icon/style.css" %}">
     <link rel="stylesheet" type="text/css" href="{% static "css/my_icon/icons.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}">

    <!-- Media CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/screen.css" %}">

    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 640px)" href="{% static "css/screen-max-640-device.css" %}">
    <link rel="stylesheet" media="all and (orientation:landscape)" href="{% static "css/landscape.css" %}">

    {% endblock head_css %}
    {% block head_js %}
    {% endblock head_js %}
</head>
<body id="{% block body_id %}{% endblock body_id %}" class="{% block body_class %}{% endblock body_class %}">
    {% block body_content %}

    {% endblock body_content %}
    {% block body_js %}        
    <script src="{% static "js/base.js"%}" ></script>
    <script src="{% static "js/site.js"%}" ></script>
    <script src="{% static "js/analytics.js"%}" async></script> 
    <script src="{% static "lightbox/js/lightbox-plus-jquery.min.js"%}" async></script>
    {% endblock body_js %}
</body>
</html>
