{% block html %}
<!doctype html>
{% endblock html %}
<head>
    {% block meta %}
    <meta charset="utf-8">
    <!--bing referencement-->
    <meta name="msvalidate.01" content="833803441EC8AC258CCC085C3D848CB7" />
    <!--YANDEX for DDG referencement-->
    <meta name="yandex-verification" content="49b0d2363f358ec7" />
    <title>{% block title %}{% endblock title %}</title>
    
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    {% endblock meta %}
    {% block head_css %}
    {% endblock head_css %}
    {% block head_js %}
    {% endblock head_js %}
</head>
<body id="{% block body_id %}{% endblock body_id %}" class="{% block body_class %}{% endblock body_class %}">
    {% block body_content %}
    <!--[if lte IE 8]>
        <div class="alert alert-warning ie-warning">
            <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </div>
    <![endif]-->
    {% endblock body_content %}
    {% block body_js %}
    {% endblock body_js %}
</body>
</html>
