{% load show_service %} 

<div class='footer footer-in-docs clearfix contain hide-mobile noprint fill-light' data-swiftype-index='false'>
   <div class='limiter clearfix'>
    <div class='footer-in-docs footer-cols-in-docs clearfix col11 pad8y small'>
      

        {% show_service_by_categorie_simple %}

    

  </div>
<div class='contain col2 footer-social'>
      <div class='animate footer-animation col6' style ="position: absolute;"></div>
      <div class='margin3 footer-dialog  small strong  col7 pad2 contain round fill-darken0' style="min-width: 350px;min-height: 75px;">
      Suivez Geodatup sur <a href='https://twitter.com/geodatup'>Twitter</a>, <a href='https://www.facebook.com/geodatup'>Facebook</a>, and <a href='https://github.com/geodatup'>Github</a>.
      </div>
    </div>
 </div>
</div>


</div>
  
<div class='footer-in-docs terms-in-docs col12 center footer-copyright small pad4 noprint fill-light contain' data-swiftype-index='false'>
  <a href='{% url 'terms' %}'>Mentions légales</a> 

  Geodatup 
</div>