<nav id="cd-vertical-nav" class="icon-down">
  <ul>
    <li class="">
      <a href="#data-create" data-number="1" class="">
      <span class="cd-label" style="color: rgb(20, 39, 54);">Créer</span>
        <span class="cd-dot" style="background-color: rgb(159, 159, 227);"></span>
      </a>
    </li>
   <!-- <li class="">
      <a href="#data-voice" data-number="2" class="">
      <span class="cd-label" style="color: rgb(20, 39, 54);">Analyser</span>
        <span class="cd-dot" style="background-color: rgb(159, 159, 227);"></span>
      </a>
    </li>

    <li class="">
      <a href="#data-access" data-number="3" class="">
      <span class="cd-label" style="color: rgb(20, 39, 54);">Accèder</span>
        <span class="cd-dot" style="background-color: rgb(159, 159, 227);"></span>
      </a>
    </li>
    -->
  
    <li class="">
      <a href="#data-life" data-number="4" class="">
      <span class="cd-label" style="color: rgb(20, 39, 54);">Gérer</span>
        <span class="cd-dot" style="background-color: rgb(159, 159, 227);"></span>
      </a>
    </li>

      
     <li class="">
      <a href="#formation" data-number="5" class="">
      <span class="cd-label" style="color: rgb(20, 39, 54);">Se former</span>
        <span class="cd-dot" style="background-color: rgb(159, 159, 227);"></span>
      </a>
    </li>
    <li class="">
      <a href="#contact" data-number="6" class="">
      <span class="cd-label" style="color: rgb(20, 39, 54);">Nous contacter</span>
        <span class="cd-dot" style="background-color: rgb(159, 159, 227);"></span>
      </a>
    </li>
</ul>
</nav>