{% load sekizai_tags staticfiles %}

<div class='main-subnav fill-midnight splash pin-top dark clearfix'>
  <div class='prose dark keyline-top pad4y hover-area clearfix'>
    <div class='limiter clearfix'>
          <div class='subnav-group subnav-products clearfix'>
            
            <div class='col6 clearfix'>
              <h3><a href='/services/' class='rcon next'>

             Services</a></h3>
              <div class='col5'>
              
                <h4>Gerer les données</h4>
                {% for service in service_list %}
                <a class='block pad1y icon {{ service.nom_icon }}' href= "/services/{{ service.id }}">{{ service.nom_service }}</a>
                {% endfor %}
              </div>
                   <div class='col5'>  
                <h4>Acquerir les données</h4>              
                <a class='block pad1y icon satellite' href='/industries/drones'>Drones</a>
                <a class='block pad1y icon satellite' href='/satellite/'>Image Satellite</a>
                <a class='block pad1y icon globe' href='/atlas/'>Acquisition</a>                
                <a class='block pad1y icon marker' href='/geocoding/'>Geocodage</a>
                <a class='block pad1y icon mobile' href='/programmation/'>Traitement de données</a>
                <a class='block pad1y icon mobile' href='/programmation/'>BigData</a>
              </div>
            </div>
            <div class='col5 margin1r'>
              <h3>Assistance, support et optimisation</h3>
              <a class='block pad1y icon data' href='/data-platform/'>Consultant</a>
              <a class='block pad1y icon mt' href='/enterprise/'>Audit &amp; solutions</a>
              <a class='block pad1y icon lock' href='/platform/security/'>Formations</a>
            </div>
          </div>

          <div class='subnav-group subnav-use-cases clearfix'>
            <div class='col7 clearfix'>
              <h3><a href='/secteurs/' class='rcon next'>Secteurs</a></h3>
              <div class='col4'>
                <a class='block pad0y' href='/industries/agriculture'>Aménagement</a>
                <a class='block pad0y' href='/industries/agriculture'>Environnement</a>
                <a class='block pad0y' href='/industries/agriculture'>Agriculture</a>
                <a class='block pad0y' href='/industries/agriculture'>Forêt</a>
              </div>
              <div class='col4'>
                <a class='block pad0y' href='/industries/transportation'>Accessibilité</a>
                <a class='block pad0y' href='/industries/assurance'>Assurance</a>
                <a class='block pad0y' href='/industries/marketing'>Marketing</a>
              </div>
              <div class='col4'>
                <a class='block pad0y' href='/industries/administrationpublique'>Administration publique</a>
                <a class='block pad0y' href='/industries/risque'>Risque</a>
                <a class='block pad0y' href='/industries/ngo'>Humanitaire</a>
              </div>
            </div>
            <div class='col4 margin1'>
              <h3>Nos réussites</h3>
                <a class='block pad0y' href='/galerie/'>Cartothèque</a>
                <a class='block pad0y' href='/showcase/'>Vitrine web</a>
            </div>
          </div>
<!--
          <div class='subnav-group subnav-documentation clearfix'>
            <div class='col8 clearfix subnavcol'>
              <h3><a href='/technologies/' class='rcon next'>Technologies</a></h3>
              <div class='col4'>
                <a class='block pad1y icon gl' href='/sig-desktop/'>SIG bureautique</a>
                <a class='block pad1y icon gl' href='/sig-desktop/'>Base de données spatiales</a>
                <a class='block pad1y icon gl' href='/sig-desktop/'>Geoprocesseur</a>
              </div>
              <div class='col4'>
                <a class='block pad1y icon marker' href='/'>Serveur de carte</a>
                <a class='block pad1y icon marker' href='/'>Catalogue de carte</a>
              </div>
              <div class='col4'>
                <a class='block pad1y icon compass' href='/'>API web</a>
                <a class='block pad1y icon gl' href='/'>Framework web</a>
              </div>
            </div>
            <div class='col3 margin1r subnavcol'>
            <h3>Méthodologie</h3>
              <a class='block pad1y' href='/'>Vie des données</a>
              <a class='block pad1y' href='/'>Développement Agile/Scrum</a>
              <a class='block pad1y' href='/'>Intégration dans les SI</a>
            </div>
          </div>
-->
          <div class='subnav-group subnav-help clearfix'>
            <div class='col3'>
              <h3><a href='/help/' class='rcon next'>Suivi de mon projet</a></h3>
              <a class='block pad1y icon search' href='/help/'>Rechercher</a>
              <a class='block pad1y icon mapbox' href='/help/'>Suivi des taches</a>
              <a class='block pad1y icon book' href='/help/'>Documentation </a>
            </div>
            <div class='col8 margin1 clearfix'>
              <h3>Je voudrais</h3>
              <div class='col6'>
                <a class='block pad1y icon paint' href='/help/#design-a-map'>une carte</a>
                <a class='block pad1y icon mobile' href='/help/#build-a-mobile-app'>un site web</a>
                <a class='block pad1y icon globe' href='/help/#build-a-web-app'>une application mobile</a>
                <a class='block pad1y icon bolt' href='/help/#extend-my-app-with-web-services'>une infrastructure de données spatiales</a>
              </div>
              <div class='col6'>
                <a class='block pad1y icon satellite'  href='/help/#work-with-data-and-imagery'>des images satellites</a>
                <a class='block pad1y icon satellite'  href='/help/#work-with-data-and-imagery'>des images très haute résolution</a>
                <a class='block pad1y icon data' href='/help/#analyze-data'>analyser des données</a>
                <a class='block pad1y icon lock' href='/help/#learn-about-mapbox-privacy-and-policies'>me former</a>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

    <div class='masthead col12 clearfix dark home-nav'>
      <div class='limiter clearfix'>
        <nav class='col12 text-right navigation-padding-top contain animate clearfix noprint'>
          <a class='fl mb-logo geodatup-logo' href='/'>geoDatup</a>
          <!-- Desktop nav -->
          <div class='text-right z10 strong small primary hide-mobile space-top0'>
            <div class='inline align-top'>
             <div class='dropdown inline fl contain'  data-category='products'> <a href='/services/'     class='contain primary-nav-button fl pad1x pad0y round '>Services</a></div>
              <div class='dropdown inline fl contain'  data-category='use-cases'> <a href='/secteurs/'  class='contain primary-nav-button fl pad1x pad0y round'>Secteurs</a></div>
            <!--
             <div class='dropdown inline fl contain'  data-category='documentation'>  <a href='/technologies/'  class='contain primary-nav-button fl pad1x pad0y round '>Technologies</a></div>
            -->
             <div class='dropdown inline fl contain'  data-category='help'><a href='/help/'class='contain primary-nav-button fl pad1x pad0y round '>Assistance &amp; Support</a></div>
             

              <div class='inline fl'> <a href='/tarifs/' class='primary-nav-button fl pad1x pad0y round quiet '>Tarifs</a></div>
              <div class='inline fl'> <a href='/blog/' class='primary-nav-button fl pad1x pad0y round quiet '>Blog</a></div>
            </div>
            
          </div>

          <!-- Mobile nav -->
          <div class='show-mobile contain dropdown-container pin-topright'>
            <a href='#menu' class='dark contain z1 big inline icon menu round quiet dropdown-button js-dropdown-button pin-right'></a>
            <div id='menu' class='js-dropdown-menu scroll-v dropdown-menu offcanvas-top fill-midnight clip col12 pin-top animate'>
              <div class='keyline-bottom clearfix'>
                <div class='mobile-cols pad4y keyline-bottom clearfix'>
                  <a class='pad1 block strong col6' href='/services/'>Services</a>
                  <a class='pad1 block strong col6' href='/secteurs/'>Secteurs</a>
                  <a class='pad1 block strong col6' href='/help/'>Assistance</a>
                  <a class='pad1 block strong col6' href='/technologies/'>Technologies</a>
                  <a class='pad1 block strong col6' href='/blog/'>Blog</a>
                  <a class='pad1 block strong col6' href='/tarifs/'>Tarifs</a>
                </div>
              </div>
              <div class='clearfix small'>
                <div class='col12 clearfix pad4y keyline-bottom'>
                  <h3 class='pad0y pad1x strong space-bottom1'>Services</h3>
                  <div class='col12 pad1x clearfix  mobile-cols '>
                    <a class='pad0y block quiet col6' href='/sig/'>SIG</a>
                    <a class='pad0y block quiet col6' href='/maps/'>Cartographie</a>
                    <a class='pad0y block quiet col6' href='/geocoding/'>Geocodage</a>
                    <a class='pad0y block quiet col6' href='/programmation/'>Programmation</a>
                    <a class='pad0y block quiet col6' href='/satellite/'>Image Satellite</a>
                    <a class='pad0y block quiet col6' href='/analysis/'>Analyse spatiale</a>
                    <a class='pad0y block quiet col6' href='/atlas/'>Acquisition</a>
                    <a class='pad0y block quiet col6' href='/highvolume/'>Traitement de données</a>
                  </div>
                </div>
                <div class='col12 pad1x clearfix  mobile-cols pad4y '>
                  <a class='pad0y block strong quiet col6' href='/about/'>A propos</a>
                  <a class='pad0y block strong quiet col6' href='/about/equipe/'>Equipe</a>
                  <a class='pad0y block strong quiet col6' href='/about/jobs/'>Emplois et stages</a>
                  <a class='pad0y block strong quiet col6' href='/about/presse/'>Presse</a>
                  <a class='pad0y block strong quiet col6' href='/terms/'>Termes</a>
                  <a class='pad0y block strong quiet col6' href='/privacy/'>Mentions légales</a>
                  <a class='pad0y block strong quiet col6' href='#contact'>Contact</a>
                </div>
              </div>
            </div>
          </div>

        </nav>
      </div>
    </div>
