{% load show_section %} 
<!--élement présent dans les sub nav -->
<div class='main-subnav fill-midnight splash pin-top dark clearfix'>
  <div class='prose dark keyline-top pad4y hover-area clearfix'>
    <div class='limiter clearfix' style="height:300px">
          <div class='subnav-group subnav-products clearfix'>            
            <div class='col6 clearfix'>


              <h3><a href="{% url 'website:serviceIndex' %}"  class='rcon next'>{{ section_list.0.nom_section }}</a></h3>
              
              
              <div class='col5'> 
                <h4><a href="{% url 'website:serviceIndex' %}#{{categorie_list.0.nom_categorie }}"> {{ categorie_list.0.nom_categorie }}</a></h4>

                {% for service in service_cat1 %}
                <a class='block pad1y icon {{ service.css_icon }}' href= "{{ service.get_absolute_url }}">{{ service.nom_service }}</a>

                
                {% endfor %}
              </div>
              <div class='col5'>  
                <h4><a href="{% url 'website:serviceIndex' %}#{{categorie_list.1.nom_categorie }}"> {{ categorie_list.1.nom_categorie }}</a></h4>  
                {% for service in service_cat2 %}
                
                <a class='block pad1y icon {{ service.css_icon }}' href= "{{ service.get_absolute_url }}">{{ service.nom_service }}</a>
          
                {% endfor %}           
              
              </div>

            </div>
            <div class='col5 margin1r'>
            <h3><a href="{% url 'website:serviceIndex' %}#{{categorie_list.2.nom_categorie }}"> {{categorie_list.2.nom_categorie }}</a></h3>
              {% for service in service_cat3 %}
                
                 <a class='block pad1y icon {{ service.css_icon }}' href= "{{ service.get_absolute_url }}">{{ service.nom_service }}</a>
                 
              {% endfor %}

            </div>
          </div>

          <div class='subnav-group subnav-use-cases clearfix'>
            <div class='col7 clearfix'>
              <h3><a href="#" class='rcon next'>{{ section_list.1.nom_section }}</a></h3>
              
              <div class='col4'>
              {% for secteur in secteur_list_tab1 %}     

              {% if not secteur.actif %}

                <!-- <a class='block pad0y icon {{ secteur.css_icon }} ' href='#'>{{ secteur.nom_secteur }}</a>-->

                {% else %}

                  <a class='block pad0y icon {{ secteur.css_icon }}' href='{{ secteur.get_absolute_url }}'>{{ secteur.nom_secteur }}</a>

                {% endif %}

              {% endfor %}
              </div>

              <div class='col4'>
                {% for secteur in secteur_list_tab2 %}    

                 {% if not secteur.actif %}

                 <!--<a class='block pad0y icon {{ secteur.css_icon }} ' href='#'>{{ secteur.nom_secteur }}</a>-->

                {% else %}

                  <a class='block pad0y icon {{ secteur.css_icon }}' href='{{ secteur.get_absolute_url }}'>{{ secteur.nom_secteur }}</a>

                {% endif %}
              {% endfor %}
              </div>
              <div class='col4'>
               {% for secteur in secteur_list_tab3 %}               
                 {% if not secteur.actif %}

               <!--<a class='block pad0y icon {{ secteur.css_icon }} ' href='#'>{{ secteur.nom_secteur }}</a>-->

                {% else %}

                  <a class='block pad0y icon {{ secteur.css_icon }}' href='{{ secteur.get_absolute_url }}'>{{ secteur.nom_secteur }}</a>

                {% endif %}
              {% endfor %}
              </div>
              <div class='col4'>
                {% for secteur in secteur_list_tab4 %}               
                 {% if not secteur.actif %}

                <!--<a class='block pad0y icon {{ secteur.css_icon }} ' href='#'>{{ secteur.nom_secteur }}</a>-->

                {% else %}

                  <a class='block pad0y icon {{ secteur.css_icon }}' href='{{ secteur.get_absolute_url }}'>{{ secteur.nom_secteur }}</a>

                {% endif %}
              {% endfor %}
              </div>
            </div>
            <div class='col4 margin1'>
              <h3>Nos réussites</h3>
               <!--<a class='block pad0y' href="{% url 'website:galerie' %}">Cartothèque</a>-->
                <a class='block pad0y' href="{% url 'website:showcase' %}">Vitrine web</a>
                
            </div>
          </div>

          <div class='subnav-group subnav-help clearfix'>
            <div class='col3'>

              <h3><a href="#" class='rcon next'>{{ section_list.2.nom_section }}</a></h3>
              <a class='block pad1y icon compass' href='#'>Gestion de projet</a>
              <a class='block pad1y icon search' href='#'>Suivi des taches</a>              
            </div>
            <div class='col8 margin1 clearfix'>
              <h3>à l'aide !</h3>
              <div class='col6'>
                <a class='block pad1y icon book' href='#'>Base de connaissance</a>
                <a class='block pad1y icon mobile' href='#'>Téléassistant</a>                
                <a class='block pad1y icon studio' href='#'>Support Helpdesk</a>                
                <a class='block pad1y icon mt'  href='#'>Intervention consultant, ingénieur</a>
              </div>
              <div class='col6'>
               <a class='block pad1y icon alert'  href='#'>Urgences</a>                           
              </div>
              
            </div>

          </div>
    </div>
  </div>
</div>

    <div class='masthead col12 clearfix dark home-nav'>
      <div class='limiter clearfix'>
        <nav class='col12 text-right navigation-padding-top contain animate clearfix noprint'>
          <a class='fl geodatup-logo' href='/'>geoDatup</a>
          <!-- Desktop nav -->
          <div class='text-right z10 strong small primary hide-mobile space-top0'>
            <div class='inline align-top'>
              <div class='dropdown inline fl contain' data-category='products'>
                 <a class='primary-nav-button fl pad1x pad0y round ' href= "{% url 'website:serviceIndex' %}">Services</a>
              </div>
              <div class='dropdown inline fl contain' data-category='use-cases'>
                <a class='primary-nav-button fl pad1x pad0y round ' href= "#">Secteurs</a>
              </div>
              <div class='dropdown inline fl contain' data-category='help'>

                 <a class='primary-nav-button fl pad1x pad0y round ' href= "#">Assistances & Support</a>
              </div>
              <div class='inline fl' data-category='products'>
                 <a class='primary-nav-button fl pad1x pad0y round quiet' href= "{{section.get_absolut_url}}/blog">Blog</a>
          
              </div>
            </div>   
          </div>

          <!-- Mobile nav -->
          <div class='show-mobile contain dropdown-container pin-topright'>
            <a href='#menu' class='dark contain z100 big inline icon menu round quiet dropdown-button js-dropdown-button pin-right'></a>
            <div id='menu' class='js-dropdown-menu scroll-v dropdown-menu offcanvas-top fill-midnight clip col12 pin-top animate'>
              <div class='keyline-bottom clearfix'>
                <div class='mobile-cols pad4y keyline-bottom clearfix'>
                  {% for section in section_list %} 
                  {% if section.nom_section == "Secteurs" or section.nom_section == "Assistances & Support" %}
                  <a class='pad1 block strong col6' href='#'>{{ section.nom_section }}</a>
                  {% else %}
                  <a class='pad1 block strong col6' href='{{section.get_absolut_url}}'>{{ section.nom_section }}</a>
                  {% endif %}
                  {% endfor %}
            
                </div>
              </div>
              <div class='clearfix small'>
                <div class='col12 clearfix pad4y keyline-bottom'>
                  <h3 class='pad0y pad1x strong space-bottom1'>{{ section_list.0.nom_section }}</h3>
                  <div class='col12 pad1x clearfix  mobile-cols '>
                  {% for service in service_list %}
                   <a class='pad0y block quiet col6' href= "{{ service.get_absolute_url }}">{{ service.nom_service }}</a>
                  {% endfor %}
                  </div>
                </div>
                <div class='col12 pad1x clearfix  mobile-cols pad4y '>
                  <a class='pad0y block strong quiet col6' href='{% url 'about' %}#top'>A propos</a>
                  <a class='pad0y block strong quiet col6' href='{% url 'about' %}#team'>Équipe</a>
                  <a class='pad0y block strong quiet col6' href='{% url 'about' %}#jobs'>Emplois et stages</a>
                  <a class='pad0y block strong quiet col6' href='{% url 'about' %}#presse'>Presse</a>
                  <a class='pad0y block strong quiet col6' href='{% url 'terms' %}'>Mentions légales</a>
                  <a class='pad0y block strong quiet col6' href='{% url 'privacy' %}'>Politique de confidentialité</a>                  
                  <a class='pad0y block strong quiet col6' href='{% url 'cdg' %}'>Conditions générales de vente</a>
                  <a class='pad0y block strong quiet col6' href='#section-contact'>Contact</a>
                </div>
              </div>
            </div>
          </div>

        </nav>
      </div>
    </div>
