<section id="section-contact" class="dark fill-dark">
      <section class='limiter pad4y'>
      <div class='center clearfix'>
	        <div class='col8 margin2 clearfix'>
	          <div class='col12 pad0x space-bottom4'>
		          <h2 class="space-top2">Contact</h2>
		          <p class="prose prose-big">Besoin d'informations supplémentaires ? Contactez nous </p>
		           <div class="col8 margin2 margin2r space-bottom2">
		           	{% include "contact.html" %}
		           </div>
		       </div>
		    </div>
       </div>
       </section>
</section>
