<section id="data-voice">
<section id="bikeshare" class="fill-light block-section">
<div class="limiter pad8y clearfix">
   <div class="col8 margin4r space-bottom4">
      <h2 class="denim space-bottom1">Des composantes pour des données qui parlent</h2>
      <p class="prose-big quiet">Tirer toute l'information contenue dans vos données.<a href="https://www.mapbox.com/blog/dc-bikeshare-revisited/">En savoir plus sur nos méthodes sur notre blog.</a></p>
   </div>

   <div class="col4 margin1r clearfix bikeshare-col">
       <div class="z10">
          <div class="device device-phone-v light">
            <div class="device-details"></div>
            <div class="home"></div>
              <video id='editor-video' width='100%' height='auto' autoplay='autoplay' loop preload='auto' loop class='hide-mobile device-content' poster='/home/video/bikeshare.jpg'>
              <source src='home/video/bikeshare.mp4' type='video/mp4' />
              <source src='home/video/bikeshare.webm' type='video/webm' />
              <img src='/home/video/bikeshare.jpg' width="100%" height="auto" />
              </video>
               <img src='/home/video/bikeshare.jpg' class="example-1-image show-mobile" width="100%" height="6.25%" alt="" />
          </div>
        </div>
      </div>


      <div class="col7 icon-side bikeshare-col">
        <ul class="clearfix space-left4 icon-container">

             <li class="col12 clearfix pad2y">
               <div class="icon-1 dot contain col2 center">
               <i class="fa fa-map fa-5x"></i>
               </div>
              <div class="col10 ">
                <div class="space-left4">
                <h3 class="space-bottom1">Cartographie stylée<span class="strong small quiet"><em class="pad1x">|</em></span></h3>
                  <p class="prose prose-small">L'art et la manière de faire des cartes c'est un savoir qui ne s'invente pas. Même si une belle carte l'est par subjectivité, il est pertinent d'offrir une lecture aggréable aux lecteurs pour faire passer votre message.</p>
                  <a href="https://www.mapbox.com/developers/api/geocoding/" class="rcon icon-small strong next small">En savoir plus</a>
                </div>
              </div>
            </li>

            <li class="col12 clearfix pad2y">
                <div class="icon-1 dot contain col2 center">
                <i class="fa fa-line-chart fa-5x"></i>
                </div>
                <div class="col10 space-bottom4 ">
                  <div class="space-left4">
                  <h3 class="space-bottom1">Analyse spatiale et statistique<span class="strong small quiet"><em class="pad1x">|</em></span></h3>
                  <p class="prose prose-small">Les cartes de chaleur, l'accessibilité sur un réseau, analyses thématiques choroplètes et classifications, représentation de flux etc. Un éventail de possibilité d'analyse pour tout comprendre d'un territoire.</p>
                <a href="https://www.mapbox.com/developers/api/directions/" class="rcon icon-small strong next small">En savoir plus</a>
                </div>
              </div>
            </li>


            <li class="col12 clearfix pad2y">
                <div class="icon-1 dot contain col2 ">
                <i class="fa fa-cubes fa-5x"></i>
                </div>
                <div class="col10 space-bottom4 ">
                  <div class="space-left4">
                  <h3 class="space-bottom1">Analyse spatiale et représentation 3D<span class="strong small quiet"><em class="pad1x">|</em></span></h3>
                  <p class="prose prose-small">Estimation de cubage et profil en long, ombrage, ensoleillement, inclinaison des pentes, orientation des pentes, calcul de bassin versant, autant d'analyses qui demandent des méthodes et une puissance de calcul importante. Les nouveaux processeurs permettent maintenant un accès à ces analyses pour des coûts réduits.</p>
                <a href="https://www.mapbox.com/developers/api/surface/" class="rcon icon-small strong next small">En savoir plus</a>
                </div>
              </div>
            </li>
            <li class="col12 clearfix pad2y">
                <div class="icon-1 dot contain col2 center">
                <i class="fa fa-video-camera fa-5x"></i>
                </div>
                <div class="col10 space-bottom2 ">
                  <div class="space-left4">
                    <h3 class="space-bottom1">Montage vidéo et cartographie<span class="strong small quiet"><em class="pad1x">|</em></span></h3>
                    <p class="prose prose-small">Intégrer des cartes dans une vidéo apporte la dimension spatiale du sujet. Animée, elle permet de montrer des processus de manière très efficace. C'est un puissant support de communication que nous mettons en œuvre.</p>
                    <a href="/mapbox-studio/" class="rcon icon-small strong next small">En savoir plus</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
</div>

</section>
</section>