<section id="section-data-life" >
<section id="coffee" class="fill-teal pad8y block-section">

    <div class="limiter contain clearfix dark">
      <div class="clearfix">
          <div class="col8 margin2 margin2r center space-bottom4">
            <h1 class="space-bottom1">Faire vivre les données</h1>
            <p class="">grâce aux outils open sources</p>
           <p> <a href="/blog/?q=tag&s=opensource">En savoir plus sur les logiciels open sources.</a></p>
         </div>

         <div class="col10 margin1 margin1r">
         </div>
        </div>


        <div class="col12">
        <div class="pad2y space-top8">
        <div class="col12 icon-side">
        <ul class="clearfix space-left4 icon-container">

             <li class="col4 clearfix pad2">
               <div class="icon-1 dot contain col2 center">
                <!--<i class="fa fa-desktop fa-4x"></i>-->
                <img src="/media/image/QGIS3_logo.svg">
               </div>
              <div class="col10 ">
                <div class="space-left4">
                <h3 class="space-bottom1">QGIS<span class="strong small quiet"><em class="pad1x">|</em>bureau</span></h3>
                <p class="prose prose-small">
                Vous êtes prêt à payer un logiciel SIG (parfois très chers) alors que QGIS dispose de fonctions équivalentes et même plus ? QGIS est gratuit, simple et rapide à prendre en main. Alors, pourquoi payer votre licence ?
                </p>
                <a href="/blog/?q=tag&s=qgis" class="rcon icon-small strong next small">En savoir plus</a>
                </div>
              </div>
            </li>

            <li class="col4 clearfix pad2">
               <div class="icon-1 dot contain col2 center">
                <i class="fa fa-users fa-4x"></i>
               </div>
              <div class="col10 ">
                <div class="space-left4">
                <h3 class="space-bottom1">SIG web<span class="strong small quiet"><em class="pad1x">|</em>équipe</span></h3>
                <p class="prose prose-small">Des solutions web pour travailler à plusieurs sur les mêmes projets. Vous partez de rien ? Pas de problème nous pouvons nous occuper de tout.</p>
                <a href="/blog/?q=tag&s=websig" class="rcon icon-small strong next small">En savoir plus</a>
                </div>
              </div>
            </li>

            <li class="col4 clearfx pad2">
                <div class="icon-1 dot contain col2 center">
                 <i class="fa fa-tablet fa-4x"></i>
                </div>
                <div class="col10 space-bottom4 ">
                  <div class="space-left4">
                  <h3 class="space-bottom1">CartOdroid<span class="strong small quiet"><em class="pad1x">|</em>terrain</span></h3>
                  <p class="prose prose-small">Comment disposer des mêmes projets QGIS au bureau et sur le terrain ?
                  CartOdroid est la solution. Cet outil basé sur Lizmap vous rend la vie plus facile, vous disposerez des mêmes données qu'au bureau. Sans connexion internet vous avez aussi accès aux fonds de cartes IGN ! </p>
                  <a href="/blog/?q=tag&s=cartodroid" class="rcon icon-small strong next small">En savoir plus</a>
                  <a href="http://lizmap.geodatup.fr" class="rcon icon-small strong next small ">Démo</a>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
        </div>
    </div>

</section>
</section>
