 <section id="top" class=' splash  landing-header-image' >

  <div class="pad8y limiter clearfix contain  pin-left pin-right ">

    <div class="intro contain">
      <div class="pad2y clearfix contain">

        <h3 class="dark fancy space-bottom2 margin6r " >
        GeoDatup donne de la hauteur à vos projets</h3>
        <div class="quiet z1 subnav space-bottom2">

        </div>

        <h4 class="dark col6 margin6r prose prose-big" style="text-shadow: black 0px 0px 0.2em;">Optimiser la gestion des territoires</h4>
    </div>
  </div>

<div>
  <a href="#go" class="arrow pin-bottom hide-mobile">
    <i class="fa fa-chevron-down infinite animated fadeInDown dark"></i>
    </a>
</div>
</div>



</section>