<section id="section-data-create" class="data-create">
  <div class="fill-denim dark clearfix">
    <div id="package-delivery" class="limiter clearfix pad8y block-section">

      <div class="space-top8 clearfix">

        <div class="prose prose-big col8 margin4r space-bottom4">
          <h1>Créer les données</h1>
          <p class=""><a href="/blog">En savoir plus sur nos methodes</a></p>
        </div>

    <div class="col12  icon-side">
        <ul class="clearfix icon-container">

          <li class="col6 clearfix pad2y">
              <div class="icon-1 dot contain col2 center">              
              <i class="fa fa-map-marker fa-5x"></i></div>
              <div class="col10 space-bottom4 ">
                <div class="space-left4 space-right2">
                  <h3 class="space-bottom1">Acquisition de donnée terrain<span class="strong small quiet"><em class="pad1x">|</em>GNSS - RTK</span></h3>
                    <p class="prose prose-small">Nos établissons des levés terrains. Grâce à la methodes de correction différentielle, nous obtenons rapidement des précisions submétriques.</p>
                  <a href="/blog/gnss-differentiel" class="rcon icon-small strong next small">En savoir plus</a>
              </div>
            </div>
          </li>

            <li class="col6 clearfix pad2y">
               <div class="icon-1 dot contain col2 center">
               <img src="/media/image/drone-white.svg"></div>
              <div class="col10 space-bottom2 ">
                <div class="space-left4 space-right2">
                <h3 class="space-bottom1">Acquisition d'images par drone<span class="strong small quiet"><em class="pad1x">|</em>Ortho - 3D</span></h3>
                <p class="prose prose-small">Nous réalisons des campagnes de photographie aérienne sur les sites d'interêts. Nous produisons des orthophotographies et des modèles numérique de terrain (MNT), dont nous évaluons la précision. Nous effectuons aussi la modélisation d’ouvrage architecturaux, des coupes topographiques et des mesures de volume. Nous produisons de bon réusultats à des tarifs intéressants, notamment grâce à l'utilisation de logiciel Open source de l'IGN.</p>
                <a href="/blog/photogrammetrie/" class="rcon icon-small next strong small">En savoir plus</a>
                </div>
              </div>
            </li>           
            <li class="col6  clearfix pad2y">
                <div class="icon-1 dot contain col2 center">
                <img src="/media/image/ign_data.svg"></div>
                <div class="col10 space-bottom2 ">
                  <div class="space-left4 space-right2">
                   <h3 class="space-bottom1">Des lots de données<span class="strong small quiet"><em class="pad1x">|</em>Data Packs</span></h3>
                <p class="prose prose-small">Nous fournissons des lots de données <b>Data Packs</b> répondant aux spécificités de votre métier. Vous disposez des mises à jour régulières et d'un support d'intégration et d'utilisation dans votre SIG.</p>
                <a href="/blog/datapack" class="rcon icon-small next strong small">En savoir plus</a>
                </div>
              </div>
            </li>
            <!--
            <li class="col6  clearfix pad2y">
                <div class="icon-1 dot contain col2 center">
                <i class="fa fa-database fa-5x"></i></div>
                <div class="col10 space-bottom2 ">
                  <div class="space-left4 space-right2">
                   <h3 class="space-bottom1">Numérisation et digitalisation<span class="strong small quiet"><em class="pad1x">|</em>Vecteur/Raster</span></h3>
                <p class="prose prose-small">Nous pouvons intégrer tout type de documents (urbanisme, enquete, photo, carnet d'adresse) dans votre SIG par voie de numérisation et de digitalisation. Pour toutes ces opérations nous mettons en place des contrôles qualité.</p>
                <a href="https://www.mapbox.com/developers/api/maps/" class="rcon icon-small next strong small">En savoir plus</a>
                </div>
              </div>
            </li>
            -->
          <li class="col6 clearfix pad2y">
               <div class="icon-1 dot contain col2 center">
               <i class="fa fa-clock-o fa-5x"></i></div>
              <div class="col10 space-bottom2 ">
                <div class="space-left4 space-right2">
                <h3 class="space-bottom1">Géotraitement<span class="strong small quiet"><em class="pad1x">|</em>Productivité</span></h3>
                <p class="prose prose-small">Les opérations de traitement de données géographiques vous prennent du temps ? Saviez vous que vous pouvez automatiser vos traitements et générer des résultats en quelques clics ?</p>
                <a href="/blog/geotraitement/" class="rcon icon-small next strong small">En savoir plus</a>
                </div>
              </div>
              </li>
           <!--  </li>
             <li class="col6 clearfix pad2y">
               <div class="icon-1 dot contain col2 ">
               <img src="/home/icons/turf.svg"></div>
              <div class="col10 space-bottom2 ">
                <div class="space-left4 space-right2">
                <h3 class="space-bottom1">Géo-processing 2D/3D, Géocodage<span class="strong small quiet"><em class="pad1x">|</em></span></h3>
                <p class="prose prose-small">Tout type de traitement géométrique et attributaire Nous effectueons généralement des procédure automatisée et reproductible. C'est une souplesse qui permet des résultats ajustables pour le livrable.</p>
                <a href="http://turfjs.org/" class="rcon icon-small next strong small">En savoir plus</a>
                </div>
              </div>
            </li>
             <li class="col6 clearfix pad2y">
               <div class="icon-1 dot contain col2 ">
               <img src="/home/icons/turf.svg"></div>
              <div class="col10 space-bottom2 ">
                <div class="space-left4 space-right2">
                <h3 class="space-bottom1">Géo-processing 2D/3D, Géocodage<span class="strong small quiet"><em class="pad1x">|</em></span></h3>
                <p class="prose prose-small">Tout type de traitement géométrique et attributaire Nous effectueons généralement des procédure automatisée et reproductible. C'est une souplesse qui permet des résultats ajustables pour le livrable.</p>
                <a href="http://turfjs.org/" class="rcon icon-small next strong small">En savoir plus</a>
                </div>
              </div>
            </li> -->
          </ul>
        </div>

      </div>
  </div>
  </div>
</section>