{% load thumbnail %}

<div class="fill-white" id="ready-to-use">
   <div class=" contain clearfix fill-white clip" id="styles">
      <div class=" limiter clearfix prose clearfix center space-top8 space-bottom2">
        <div class="prose prose-big">
      <h1 class="center denim light"><a href="#styles" class="anchor"></a></h1>
       <p class="col10 margin1 margin1r center quiet pad1y center prose pad8x space-bottom2"></p>

       </div>
      </div>

      <div class="gallery-container">

        {% for realisation in showcase_list|slice:":5" %}
        {% thumbnail realisation.image 920x530  upscale subject_location=realisation.image.subject_location as photo %}

        <a href="#" class="gallery-item gallery-item-1" style="background-image: url({{ photo.url }}) ; background-size: cover;"><div class="small strong pin-top pad2x pad1y dark center  round-top fill-darken1">Cartosud</div>
        <!-- <div class="pin-bottom space-bottom1"><p class='small pad2x pad1y fill-white center quiet '>Subtle but full-featured map for data visualizations and dashboards. </p></div> -->
        </a>

        {% endfor %}



        

      </div>
    </div>
</div>