{% load static thumbnail sekizai_tags %}	



	<div class="gallery-container" style="padding-top: 170px" >

        {% for realisation in showcase_list|slice:":5" %}
        {% thumbnail realisation.image 180x270 crop subject_location=realisation.image.subject_location as photo %}


        <a href="{{ realisation.image.url }}" data-lightbox="realisation.image"  data-title="{{ realisation.image}}" class="gallery-item gallery-item-{{forloop.counter}}" style="background-image: url({{ photo.url }}) ; background-size: cover;">

        

        <div class="small strong pin-top pad2x pad1y dark center round-top fill-darken1">

        {{ realisation.nom_realisation }}

        </div>
        </a> 

        {% endfor %}
	</div>
