
@font-face {
  font-family:'fontastic';
    src: url('font/fontastic.ttf');
  }


@font-face {
  font-family:'byom-light';
    src: url('font/byom/Byom-Light-Trial.ttf');
  }

 @font-face {
  font-family:'byom-bold';
    src: url('font/byom/Byom-Bold-Trial.ttf');
  }
 @font-face {
  font-family:'byom-regular';
    src: url('font/byom/Byom-Regular-Trial.ttf');
  }

.geodatup-logo{
  font-family: 'byom-bold';
  padding-top: 10px;
}


.header-image {
  background-image:url(/media/image/Pano-reduce-1920-530.jpg);
  background-repeat:no-repeat;
  }

.post-it-fixe{
	height: 350px;
}
