{% extends "base_one.html" %}
{% load staticfiles sekizai_tags %}

{% block title %}GeoDatup{% endblock title %}

{% block head_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/site.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/developers.css" %}">
    <link rel="stylesheet" href="{% static "css/products.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome-4.5.0/css/font-awesome.css" %}">
{% endblock head_css %}  
</head>

{% block body_class %} full bleed{% endblock %}
{% block body_content %}

<div class='page-content'>


{% block nav %}

{% include "nav.html" %}
{% include "signup-nav.html" %}
{% endblock nav %}

<p>Veuillez nous excuser cette page et en cours de création</p>
</div>



    {% block footer %}
        {% include "footer.html" %}
    {% endblock footer %}

{% endblock body_content %}


{% block body_js %}
{{ block.super }}
<script src="{% static "js/base.js"%}"></script>

<script type="text/javascript">
var $dropdownTriggers = $('.dropdown');
var $dropdownArea = $('.main-subnav');
var $dropdownZone = $('.hover-area');

$dropdownTriggers.each(function() {
  var $this = $(this);
  window.hoverintent(this, function() {
    $dropdownTriggers.removeClass('show');
    $('.subnav-group').removeClass('show');
    $dropdownArea.addClass('show');
    $('.subnav-' + $this.data('category')).addClass('show');
    $this.addClass('show');
  }, function() {
    if (!$dropdownZone.hasClass('hovered') && $('.dropdown:hover').length === 0) {
      $dropdownArea.removeClass('show');
      $dropdownTriggers.removeClass('show');
    }
  });
});

$dropdownZone.mouseover(function() {
  $(this).addClass('hovered');
  return false;
}).mouseleave(function() {
  $(this).removeClass('hovered');
  window.setTimeout(function() {
    if ($('.dropdown:hover').length === 0) {
      $dropdownArea.removeClass('show');
      $dropdownTriggers.removeClass('show');
    }
  }, 300);
});
</script>


<script type="text/javascript">

   $(document).scroll(function() {
    var y = $(this).scrollTop();
    if (y > 400) {
        $('div#signup-nav').removeClass('hide-nav');
      } else {
        $('div#signup-nav').addClass('hide-nav');
      }
  });

  
</script>


{% endblock body_js %}




