
<section id="building-blocks" class="fill-white" >
<div class="limiter center clearfix">
  <div class="clearfix">
    <div class="col10 margin1 margin1r prose pad4y space-top4 space-top-hnav space-bottom2  ">
      <h2 class="denim">GeoDatup donne de la hateur à vos projets</h2>
      <p class="prose-big quiet pad2x">Comment améliorer votre connaissance et la gestion d'espaces complexes</p>
      <a href="#building-blocks" class="button pad4x rcon down "></a>
    </div>
  </div>
</div>
</section>


     <div class='section clearfix col12 keyline-top fill-light building-blocks clip pading40vertical-nav'>

      <a href='/maps' class='block center pad2 pad4y keyline-right keyline-bottom contain'>
          <div class=' noevents margin2 margin2r  space-bottom2'><i class="fa fa-map fa-5x"></i></div>
          <div class='content'>
            <h3 class='col12 space-bottom1'>Des cartes</h3>
            <span class='col12  quiet space-bottom1 pad2x prose'>Simple et efficace</span>
          </div>
      </a>

      <a href='/developers/' class='block center pad2 pad4y keyline-right keyline-bottom'>
          <div class=' noevents margin2 margin2r  space-bottom2'><i class="fa fa-fort-awesome fa-5x"></i></div>
        <h3 class='col12 space-bottom1'>SIG</h3>
        <span class='col12  quiet space-bottom1 pad2x prose'>Faciliter la collaboration sur le territoires grâce à l'information géographique c'est possible grâce à des systèmes sur mesure et des applications web.</span>
      </a>

      <a href='/geocoding' class='block  center pad2 pad4y keyline-bottom keyline-right'>
       <div class=' noevents margin2 margin2r  space-bottom2'><i class="fa fa-cogs fa-5x"></i></div>
        <h3 class='col12 space-bottom1'>Géotraitement</h3>
        <span class='col12  quiet space-bottom1 pad1x prose'>Numériser des données ou transferer les données entre deux sytèmes, on s'en occupe ! Nous travaillons jours et nuits pour que vos données soient prêtes à l'emploi dans votre système.</span>
      </a>

      <a href='/directions/' class='block center  pad2 pad4y keyline-right keyline-bottom'>
         <div class=' noevents margin2 margin2r  space-bottom2'><i class="fa fa-line-chart fa-5x"></i></div>
          <h3 class='col12 space-bottom1'>Analyses spatiales</h3>
          <span class='col12  quiet space-bottom1 pad2x prose'>Que ce soit simple ou complexe, nos analystes sont évidement les meilleurs. On sait faire parler les données, surtout quand il y en a beaucoup.</span>
      </a>

      <a href='/satellite/' class='block  center pad2 pad4y keyline-right keyline-bottom' style="border-right:none";>
         <div class=' noevents margin2 margin2r  space-bottom2'><i class="fa fa-camera-retro fa-5x"></i></div>
        <h3 class='col12 space-bottom1'>GPS et imagerie</h3>
        <span class='col12  quiet space-bottom1 pad2x prose'>Nous fournissons des images de satellites et de drones,orthoréctifiées et géoréférencées.</span>
      </a>


  </div>

