

<section id="data-create" class="fill-pattern mix-and-match">

  <div class="limiter clearfix dark pad2y">
     <div class="col10 margin1 margin1r space-top8 prose center">
      <h2 class="">Comment on s'y prend</h2>
      <p class="prose-big quiet pad2x">En associant un système d'applications performant et des données spatiales de qualités. Notre savoir-faire fait le reste.</p>
    </div>
  </div>

  <div class="example-1 block-section">
    <div class="limiter contain clearfix">
      <div class="col12 clearfix">
        <div class="z10">
          <div class="device device-browser contain" style="display: block; position: relative; top: 60px;">
            <div class="device-details"></div>
            <div class="browser-bar hide-mobile contain">
              <div class="pin-left pad1">
                <span class="icon prev quiet"></span>
                <span class="icon next quiet"></span>
                <span class="icon rotate quiet"></span>
             </div>

              <div class="pin-right pad1">
                <span class="icon heart quiet"></span>
                <span class="icon mapbox quiet"></span>
                <span class="icon menu quiet"></span>
             </div>
            </div>
               <video id='editor-video' width='100%' height='6.25%' autoplay='autoplay' preload='auto' loop class='hide-mobile device-content' poster='/home/video/packages.jpg'>
              <source src='home/video/packages.mp4' type='video/mp4' />
              <source src='home/video/packages.webm' type='video/webm' />
              <img src='/home/video/packages.jpg' width="100%" height="auto" />
            </video>
            <img src='/home/video/packages.jpg' class="example-1-image show-mobile" width="100%" height="auto" alt="" />
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>