

<section id="contact" class="fill-pattern-midnight dark">
      <section class='limiter pad4y'>
      <div class='center clearfix'>
        <div class='col8 margin2 clearfix'>
          <div class='col12 pad0x space-bottom4'>
           <h2 class=" space-top2">Contact</h2>
           <p class="prose prose-big">Demander un devis</p>
           <div class="col8 margin2 margin2r space-bottom2">
          
    <p><a href="mailto:example@example.com">Email: contact@geodatup.fr</a></p>
    <p><a href="callto:0505056605">Tel: 05-05-05-66-55</a></p>
</div>
</div>
</div>
</div>

    </section>
</section>