<section id="data-life" >
<section id="coffee" class="fill-teal pad8y block-section">

    <div class="limiter contain clearfix dark">
      <div class="clearfix">
          <div class="col8 margin2 margin2r center space-bottom4">
            <h2 class="space-bottom1">Des composants pour des données vivantes</h2>
            <p class="prose-big quiet">Style a map and then make it interactive with Mapbox.js.</p>
         </div>

         <div class="col10 margin1 margin1r">
           <div class="device device-tablet-h light contain hide-tablet">
             
             <div class="device-details"></div>
             <div class="home"></div>
           </div>
           <img src="/home/examples/example-3.jpg" class="example-3-image show-tablet" alt="picture book style">
         </div>
        </div>


        <div class="col12">
        <div class="pad2y space-top8">
        <div class="col12 icon-side">
        <ul class="clearfix space-left4 icon-container">

             <li class="col6 clearfix pad2">
               <div class="icon-1 dot contain col2 center">
                <i class="fa fa-desktop fa-5x"></i>
               </div>
              <div class="col10 ">
                <div class="space-left4">
                <h3 class="space-bottom1">SIG bureautique et applications web <span class="strong small quiet"><em class="pad1x">|</em></span></h3>
                <p class="prose prose-small">Ce sont les outils essentiels à la survit de vos données. Sans eux, pas de mise à jour possible. Ils organisent les processus de mise à jour et conduisent la pluspart du temps à des règles et des cycles de vie spécifiques pour chacune des données.</p>
                <a href="/mapbox-studio/" class="rcon icon-small strong next small">En savoir plus</a>
                </div>
              </div>
            </li>

            <li class="col6 clearfx pad2">
                <div class="icon-1 dot contain col2 center">
                 <i class="fa fa-code fa-5x"></i>
                </div>
                <div class="col10 space-bottom4 ">
                  <div class="space-left4">
                  <h3 class="space-bottom1">Programmation et script automatique<span class="strong small quiet"><em class="pad1x">|</em></span></h3>
                  <p class="prose prose-small">Afin de faciliter la tache aux gestionnaires d'informations, il faut égulièrement définir les taches lourdes qu'il est possible d'automatiser. Ainsi, le gestionnaire peut focaliser son temps de travail sur d'autres taches car le gestionnaire à toujours quelque chose à faire et lui, il est irremplacable.</p>
                <a href="/mapbox.js/" class="rcon icon-small strong next small">En savoir plus</a>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
        </div>
    </div>

</section>
</section>
