<section id="formation" class="fill-light pad8y block-section" >
<div class="fill-light pad4y">

<div class="limiter contain clearfix space-bottom4">
    <div class="col12 title-block">
      <p class="prose-big strong">Des composants pour partager notre savoir faire</p>
    </div>
    <div class="clearfix col12 space-top2">
      <a href="/mapbox-gl-js/api/" class="keyline-top center keyline-stroke keyline-blue round dark-link contain service-block fl pad4y margin3r fill-white mobile-margin-4r mobile-margin-bottom1 post-it-fixe" >
        <div class="pad1y space-bottom1"><span class="space-top0 dark icon pad1 dot forward fill-blue studio"></span></div>
        <h3>SIG bureautique</h3>
        <p class="quiet small margin0 margin0r space-top0">Apprendre à manipuler l'information géographique sous toutes ses formes. Réaliser des analyses thématiques, effectuer des géotraitements, partager les résultats sous forme de carte, publier sur le web. Plusieurs niveaux de compétence sont transmis sur logiciels libres et propriétaires.</p>
      </a>
      <a href="/ios-sdk/" class="keyline-top center keyline-stroke keyline-denim round dark-link contain service-block margin3r fl pad4y fill-white mobile-margin-bottom1 post-it-fixe">
        <div class="pad1y space-bottom1"><span class="space-top0 dark icon pad1 dot fill-denim layers"></span></div>
        <h3>Serveur cartographique</h3>
        <p class="quiet small margin0 margin0r space-top0">Les serveurs sont des applications robustes qu'il faut manipuler avec des pincettes. Publier des cartes sur le réseau via des webservices demande des connaissances poussées que nous abordons au court de la formation.</p>
      </a>
      <a href="/android-sdk/" class="keyline-top center keyline-stroke keyline-green round dark-link contain service-block fl pad4y fill-white margin3r mobile-margin-4r mobile-margin-bottom1 post-it-fixe">
        <div class="pad1y space-bottom1"><span class="space-top0 dark icon pad1 dot fill-green brackets"></span></div>
        <h3>GeoDjango - framwork web</h3>
        <p class="quiet small margin0 margin0r space-top0">Un framework puissant pour développer des applications web avec python. Une communauté énorme, une infinité de plugin. La réalisation d'une webapp géographique n'aura plus de secret pour vous. Et c'est open source !</p>
      </a>
      <a href="/mapbox.js/api/" class="keyline-top center keyline-stroke keyline-orange round dark-link contain service-block fl pad4y fill-white mobile-margin-bottom1 post-it-fixe">
        <div class="pad1y space-bottom1"><span class="space-top0 dark icon pad1 dot fill-orange point-line"></span></div>
        <h3>OSM : Données et outils collaboratifs</h3>
        <p class="quiet small margin0 margin0r space-top0">Visite guité de la communauté OSM, dans les plus sombre recoins. Utilisation des outils de mise à jour, règles de mise à jours, requête, export de donnée, jusqu'à la mise en place d'une base avec les données OSM pour des besoins spécifiques (requetes attributaire, analyse spatiale, routage).</p>
      </a>
    </div>
  </div>

</div>

</section>